@charset "UTF-8";
/*
CSS root variables media
*/
@media screen and (max-width: 1199px) {
  :root {
    --bdrs: 3px;
    --sm: 5px;
    --md: 12px;
    --lg: 16px;
    --xl: 35px;
    --header-height: 99px; } }
@media screen and (min-width: 1200px) {
  :root {
    --bdrs: 5px;
    --sm: 8px;
    --md: 15px;
    --lg: 32px;
    --xl: 55px; } }
@media screen and (max-width: 767px) {
  :root {
    --header-height: 48px;
    --header-height-sticky: calc(var(--header-height) - 10px); } }
@media screen and (min-width: 768px) {
  :root {
    --header-height: 59px;
    --header-height-sticky: calc(var(--header-height) - 12px); } }
@media screen and (min-width: 1200px) {
  :root {
    --header-height: 96px;
    --header-height-sticky: calc(var(--header-height) - 40px); } }
@media screen and (max-width: 991px) {
  :root {
    --font-size-base: 16px; } }
@media screen and (min-width: 992px) {
  :root {
    --font-size-base: 20px; } }
/*
General Landing styles
*/
.section {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  -webkit-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  .section:not(.section_top):not(.section_top-small):not(.section_top-small + .section):not(.section_toggle):not(.section_form):not(.section_contact):not(.section_career) {
    overflow: hidden; }
    @media screen and (max-width: 767px) {
      .section:not(.section_top):not(.section_top-small):not(.section_top-small + .section):not(.section_toggle):not(.section_form):not(.section_contact):not(.section_career) {
        margin: 10vh 0; } }
    @media screen and (min-width: 768px) {
      .section:not(.section_top):not(.section_top-small):not(.section_top-small + .section):not(.section_toggle):not(.section_form):not(.section_contact):not(.section_career) {
        margin: 16vh 0; } }

.section__title {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-size: clamp(32px, calc(13px + 5vw), 72px);
  font-weight: 700; }
  @media screen and (max-width: 991px) {
    .section__title {
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    .section__title {
      line-height: 1.195; } }
  @media screen and (max-width: 767px) {
    .section__title {
      margin-bottom: 25px;
      padding-right: 3vw; } }
  @media screen and (min-width: 768px) {
    .section__title {
      margin-bottom: 3.5vh; } }

.section__slogan {
  line-height: 1.59;
  margin: 0; }
  @media screen and (min-width: 992px) {
    .section__slogan {
      font-size: clamp(0.8rem, calc(7px + 1vw), 24px); } }
  @media screen and (max-width: 767px) {
    .section__slogan {
      padding: 2vh 3vw 1vh 0; } }
  @media screen and (min-width: 768px) {
    .section__slogan {
      padding: 4.5vh 0 0; } }

/*
Top section
*/
@media screen and (min-width: 768px) {
  .section_top {
    padding-bottom: 68px;
    min-height: 700px; } }
.section_top:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  @media screen and (max-width: 991px) {
    .section_top:before {
      border-top: 20rem solid #29a2ff;
      border-left: 18rem solid transparent; } }
  @media screen and (max-width: 767px) {
    .section_top:before {
      border-left: 40vw solid transparent; } }
  @media screen and (min-width: 992px) {
    .section_top:before {
      border-top: 20rem solid #29a2ff;
      border-left: 20rem solid transparent; } }
  @media screen and (min-width: 1400px) {
    .section_top:before {
      border-top: 25rem solid #29a2ff;
      border-left: 25rem solid transparent; } }
  @media screen and (min-width: 1700px) {
    .section_top:before {
      border-top: 30rem solid #29a2ff;
      border-left: 30rem solid transparent; } }
.section_top .container {
  position: relative; }
  @media screen and (min-width: 768px) {
    .section_top .container {
      border-right: 1px solid #e1dfdf; } }
  @media screen and (min-width: 1024px) {
    .section_top .container:before {
      content: '';
      background-color: #e1dfdf;
      height: 100%;
      width: 1px;
      position: absolute;
      top: 0;
      left: calc(75% - 1px);
      bottom: 0;
      -webkit-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -moz-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -o-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95); } }
.section_top .section__content-left {
  position: relative; }
  .section_top .section__content-left:before, .section_top .section__content-left:after {
    content: '';
    background-color: #e1dfdf;
    display: block;
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1; }
  @media screen and (max-width: 767px) {
    .section_top .section__content-left {
      border-right: 1px solid #e1dfdf;
      padding: 3vh 0 0; }
      .section_top .section__content-left:before {
        left: 50%; }
      .section_top .section__content-left:after {
        display: none; } }
  @media screen and (min-width: 768px) {
    .section_top .section__content-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 680px;
      padding: 7vh 0; }
      .section_top .section__content-left:before {
        left: 33.33%; }
      .section_top .section__content-left:after {
        left: 66.66%; } }
  @media screen and (min-width: 1024px) {
    .section_top .section__content-left:before {
      left: 25%; }
    .section_top .section__content-left:after {
      left: 50%; } }
.section_top .section__title-page {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-size: clamp(40px, calc(29px + 4vw), 96px);
  font-weight: 700;
  line-height: 1.01; }
  @media screen and (min-width: 768px) {
    .section_top .section__title-page {
      max-width: 10em; } }
  @media screen and (max-width: 1399px) {
    .section_top .section__title-page br {
      display: none; } }
@media screen and (min-width: 768px) {
  .section_top .section__slogan {
    max-width: 22em; } }
@media only screen and (min-width: 940px) {
  .section_top .section__slogan {
    max-width: 24em; } }
@media screen and (min-width: 1400px) {
  .section_top .section__slogan {
    max-width: 28em; } }
@media screen and (min-width: 1700px) {
  .section_top .section__slogan {
    max-width: 36em; } }
.section_top .section__img-outer {
  display: block;
  position: relative; }
  .section_top .section__img-outer:before, .section_top .section__img-outer:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    -webkit-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  @media screen and (max-width: 767px) {
    .section_top .section__img-outer:before {
      background-color: #e1dfdf;
      left: 50%;
      width: 1px; }
    .section_top .section__img-outer:after {
      border-right: 1px solid #e1dfdf;
      width: 100%; } }
  @media screen and (max-width: 767px) and (max-width: 767px) {
    .section_top .section__img-outer:after {
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      max-width: calc(80% - 51px); } }
  @media only screen and (max-width: 767px) and (max-width: 575px) {
    .section_top .section__img-outer:after {
      max-width: calc(90% - 51px); } }
  @media only screen and (max-width: 767px) and (max-width: 399px) {
    .section_top .section__img-outer:after {
      max-width: calc(100% - 33px); } }
  @media only screen and (max-width: 767px) and (max-width: 299px) {
    .section_top .section__img-outer:after {
      max-width: calc(100% - 17px); } }

  @media screen and (min-width: 768px) {
    .section_top .section__img-outer:after {
      max-width: calc(100% - 12vw); } }
.section_top .section__img {
  height: auto;
  object-fit: contain; }
  @media screen and (max-width: 767px) {
    .section_top .section__img {
      max-width: 100%;
      position: relative;
      z-index: 1;
      display: block; } }
  @media screen and (min-width: 768px) {
    .section_top .section__img {
      max-width: 60%;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); } }
  @media screen and (min-width: 1400px) {
    .section_top .section__img {
      max-width: 50%; } }
@media screen and (max-width: 767px) {
  .section_top .btn-outer .btn {
    margin-top: 20px; } }
@media screen and (min-width: 375px) {
  .section_top .btn-outer .btn {
    min-width: auto; } }
@media screen and (min-width: 768px) {
  .section_top .btn-outer {
    border-top: 1px solid #e1dfdf;
    display: flex;
    position: absolute;
    width: 100%; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .section_top .btn-outer {
      bottom: -48px; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .section_top .btn-outer {
      bottom: -68px; } }
@media screen and (min-width: 768px) {
    .section_top .btn-outer .btn {
      margin-top: -1px; } }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .section_top .btn-outer .btn {
        min-width: auto;
        width: 33.33%; } }
    @media screen and (min-width: 768px) and (min-width: 1024px) {
      .section_top .btn-outer .btn:first-child {
        width: 25%; }
      .section_top .btn-outer .btn.btn_empty {
        width: calc(25% + 1px); } }

.hot {
  background-color: #ff971d;
  color: #fff;
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.45;
  text-transform: uppercase;
  white-space: nowrap;
  height: fit-content;
  max-width: fit-content;
  max-width: fit-content; }
  @media screen and (max-width: 991px) {
    .hot {
      font-size: 1rem; } }
  @media screen and (min-width: 992px) {
    .hot {
      font-size: 0.9rem; } }
  @media screen and (max-width: 1399px) {
    .hot {
      padding: 5px 10px; } }
  @media screen and (min-width: 1400px) {
    .hot {
      padding: 10px 19px; } }
  @media screen and (max-width: 767px) {
    .hot {
      display: block; } }
  @media screen and (min-width: 768px) {
    .hot {
      margin-right: 16px; } }

/* Tabs section */
.section_tabs {
  /*
  Filter
  */
  /* Card box */
  /*
  Tag Block
  */ }
  .section_tabs .filter__bar {
    border-bottom: 1px solid #e1dfdf;
    font-size: 0; }
    .section_tabs .filter__bar .icon-filter SPAN {
      display: none; }
  .section_tabs .filter__bar-item {
    background: transparent;
    border: 0 none;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 0.03em;
    font-family: "Work Sans", "Arial", sans-serif;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-transition: all 0.6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.6s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
    .section_tabs .filter__bar-item:after {
      content: '';
      background-color: #29a2ff;
      margin-right: auto;
      margin-left: auto;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 0; }
      @media screen and (max-width: 1199px) {
        .section_tabs .filter__bar-item:after {
          height: 3px; } }
      @media screen and (min-width: 1200px) {
        .section_tabs .filter__bar-item:after {
          height: 5px; } }
    .section_tabs .filter__bar-item:not(.active):hover:after {
      width: 100%;
      -webkit-animation: widthScale 0.25s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
      animation: widthScale 0.25s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
      animation-delay: .15s; }
    .section_tabs .filter__bar-item.active:after {
      width: 100%; }
    @media screen and (max-width: 767px) {
      .section_tabs .filter__bar-item {
        display: block;
        margin: 0 auto;
        padding: 10px 1.6vw; } }
    @media screen and (min-width: 768px) {
      .section_tabs .filter__bar-item {
        padding: 25px 1.6vw; } }
    @media screen and (min-width: 1200px) {
      .section_tabs .filter__bar-item {
        padding: 25px .8vw; } }
    @media screen and (min-width: 1400px) {
      .section_tabs .filter__bar-item {
        min-width: 170px;
        padding: 25px 1.6vw; } }
  .section_tabs .filter__clear {
    background: transparent;
    border: 0 none;
    color: #29a2ff;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: "Work Sans", "Arial", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-top: 3.5vh;
    margin-left: auto;
    outline: none;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
    .section_tabs .filter__clear:hover {
      color: #000; }
    .section_tabs .filter__clear:before {
      content: '×';
      font-size: 28px;
      font-weight: 400;
      line-height: 1;
      margin: -1px 1.5vw 0 0; }
  @media only screen and (max-width: 399px) {
    .section_tabs .filter {
      margin-left: -16px;
      margin-right: -16px; } }
  @media only screen and (max-width: 299px) {
    .section_tabs .filter {
      margin-left: -8px;
      margin-right: -8px; } }
  .section_tabs .card-outer {
    display: grid; }
    @media screen and (max-width: 767px) {
      .section_tabs .card-outer {
        grid-template-columns: repeat(1, minmax(0, 1fr)); } }
    @media screen and (min-width: 768px) {
      .section_tabs .card-outer {
        grid-template-columns: repeat(2, minmax(0, 1fr)); } }
    @media screen and (min-width: 1024px) {
      .section_tabs .card-outer {
        grid-template-columns: repeat(3, minmax(0, 1fr)); } }
  .section_tabs .card {
    border-bottom: 1px solid #e1dfdf;
    border-left: 1px solid #e1dfdf;
    grid-column: span 1 / span 1;
    display: flex;
    flex-direction: column;
    opacity: 1;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
    @media screen and (max-width: 767px) {
      .section_tabs .card {
        border-right: 1px solid #e1dfdf; } }
    @media screen and (max-width: 575px) {
      .section_tabs .card {
        padding: 3vh 15px 2vh; } }
    @media screen and (min-width: 576px) {
      .section_tabs .card {
        padding: 5vh 3vw 3vw; } }
    @media screen and (min-width: 1024px) {
      .section_tabs .card {
        padding: 5vh 1vw 4vw; } }
    @media screen and (min-width: 1400px) {
      .section_tabs .card {
        padding: 6vh 2vw 5vw; } }
    @media screen and (min-width: 1700px) {
      .section_tabs .card {
        padding: 7vh 5.5vw 6vh 2.5vw; } }
    .section_tabs .card:hover {
      background-color: #151731; }
      .section_tabs .card:hover .card__title A {
        color: #ff971d; }
        .section_tabs .card:hover .card__title A:hover {
          color: #e97e00; }
      .section_tabs .card:hover .card__more {
        color: #151731;
        text-indent: -10000px; }
        .section_tabs .card:hover .card__more SPAN {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1IDE2IiB2aWV3Qm94PSIwIDAgMjUgMTYiPjxwYXRoIGQ9Ik0xNi4yIDIuMWMtLjQtLjQtLjQtMS4xIDAtMS42LjQtLjQgMS4xLS40IDEuNiAwbDYuNyA2LjdjLjQuNC40IDEuMSAwIDEuNmwtNi43IDYuN2MtLjQuNC0xLjEuNC0xLjYgMC0uNC0uNC0uNC0xLjEgMC0xLjZMMjEgOS4xSDEuNEMuOCA5LjEuMyA4LjYuMyA4cy41LTEuMSAxLjEtMS4xaDE5LjVsLTQuNy00Ljh6IiBzdHlsZT0iZmlsbDojZmY5NzFkIi8+PC9zdmc+"); }
  .section_tabs .card__content {
    display: flex;
    flex-direction: column; }
  .section_tabs .card__tag {
    color: #aeafbc;
    font-family: "Work Sans", "Arial", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 26px;
    letter-spacing: 2px;
    order: -1;
    text-transform: uppercase; }
  .section_tabs .card__img {
    width: 100%; }
    .section_tabs .card__img IMG {
      display: block;
      width: 100%; }
  .section_tabs .card__title {
    font-family: "Work Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    font-weight: 800;
    line-height: 1.315; }
    @media screen and (max-width: 991px) {
      .section_tabs .card__title {
        font-size: 1.5rem; } }
    @media screen and (min-width: 992px) {
      .section_tabs .card__title {
        font-size: clamp(22px, calc(10px + 2vw), 32px); } }
  .section_tabs .card__txt {
    line-height: 1.6; }
    @media screen and (max-width: 991px) {
      .section_tabs .card__txt {
        font-size: 0.875rem; } }
    @media screen and (min-width: 992px) {
      .section_tabs .card__txt {
        font-size: clamp(0.75rem, calc(5px + 1vw), 20px);
        padding-bottom: 2vh; } }
  @media screen and (min-width: 768px) {
    .section_tabs .card-outer + .btn {
      padding-left: 3vw;
      padding-right: 3vw;
      min-width: 50%; } }
  @media screen and (min-width: 1024px) {
    .section_tabs .card-outer + .btn {
      min-width: calc(25% + 6px); } }
  .section_tabs .card__more {
    color: #151731;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Work Sans", "Arial", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.9;
    margin-left: auto;
    padding: 5px;
    text-transform: uppercase;
    white-space: nowrap; }
    @media screen and (min-width: 992px) {
      .section_tabs .card__more {
        font-size: 0.8rem; } }
    .section_tabs .card__more SPAN {
      background: url("../img/icons/i-arrow-min.svg") no-repeat;
      margin-left: calc(var(--md) + 2px);
      width: 25px;
      height: 16px;
      transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  .section_tabs .card {
    border-left: 0 none;
    flex-direction: row;
    justify-content: center; }
    @media screen and (max-width: 767px) {
      .section_tabs .card {
        border-right: 0 none; } }
    @media screen and (max-width: 575px) {
      .section_tabs .card {
        padding: 2.5vh 15px; } }
    @media only screen and (max-width: 399px) {
      .section_tabs .card {
        padding: 2vh 16px; } }
    @media only screen and (max-width: 299px) {
      .section_tabs .card {
        padding: 1vh 8px; } }
    @media screen and (min-width: 576px) {
      .section_tabs .card {
        padding: 3.3vh 2.3vw 2.5vh 1.7vw; } }
    .section_tabs .card:hover {
      color: #fff; }
      .section_tabs .card:hover .card__title {
        color: #ff971d; }
  .section_tabs .card__title {
    font-family: "Work Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    font-size: clamp(26px, calc(12px + 3vw), 40px);
    font-weight: 800;
    line-height: 1.2; }
    @media screen and (max-width: 767px) {
      .section_tabs .card__title {
        margin: 0 0 25px; } }
    @media screen and (min-width: 768px) {
      .section_tabs .card__title {
        display: flex;
        align-items: center;
        margin: 5px 0 30px; } }
  .section_tabs .card__content {
    width: 100%; }
  @media screen and (max-width: 1399px) {
    .section_tabs .card__more {
      text-indent: -10000px; } }
  @media screen and (max-width: 767px) {
    .section_tabs .card__more {
      display: none; } }
  .section_tabs .tag {
    font-size: 0;
    line-height: 1.6;
    list-style: none;
    margin-bottom: 5vh; }
    @media screen and (min-width: 768px) {
      .section_tabs .tag {
        display: flex; } }
  @media screen and (min-width: 992px) {
    .section_tabs .tag__col:not(:first-child) {
      margin-left: 4vw; } }
  .section_tabs .tag__title {
    font-family: "Work Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    font-weight: 800;
    line-height: 1.33;
    margin-bottom: 1.7vh; }
    @media screen and (max-width: 991px) {
      .section_tabs .tag__title {
        font-size: 1.2rem; } }
    @media screen and (min-width: 992px) {
      .section_tabs .tag__title {
        font-size: 1.2rem; } }
  .section_tabs .tag__item {
    border: 1px solid #e1dfdf;
    display: inline-flex;
    align-items: center;
    font-family: "Work Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.45;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
    @media screen and (max-width: 991px) {
      .section_tabs .tag__item {
        font-size: 1rem; } }
    @media screen and (min-width: 992px) {
      .section_tabs .tag__item {
        font-size: 0.9rem; } }
    @media screen and (max-width: 991px) {
      .section_tabs .tag__item {
        height: 32px;
        margin-right: 12px;
        margin-bottom: 12px;
        padding: 0 7px; } }
    @media screen and (min-width: 992px) {
      .section_tabs .tag__item {
        height: 40px;
        margin-right: 16px;
        margin-bottom: 16px;
        padding: 0 10px; } }
  .section_tabs .tag {
    margin-bottom: 0; }
  .section_tabs .section__subtitle {
    order: -1; }

.section_img-left {
  /* All blocks with a floating background image to left of content */ }
  @media screen and (min-width: 1400px) {
    .section_img-left .container + .container {
      display: grid;
      grid-template-columns: 407px 1fr; } }
  .section_img-left .section__title {
    padding-bottom: 0; }
    @media screen and (min-width: 1200px) {
      .section_img-left .section__title {
        padding-left: 2.5vw;
        transition: none; } }
    @media screen and (min-width: 1400px) {
      .section_img-left .section__title {
        margin-left: 407px; } }
  @media screen and (max-width: 1199px) {
    .section_img-left .section__img-outer {
      display: none; } }
  @media screen and (min-width: 1200px) {
    .section_img-left .section__img-outer {
      position: relative; } }
  @media screen and (min-width: 1200px) {
    .section_img-left .section__img-outer IMG {
      display: block;
      position: absolute;
      right: 0;
      object-fit: cover;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      max-width: 568px;
      width: 100vh; } }

/* Offer section */
.section_offer {
  /* Custom CSS only offer section */
  /* Numbers */
  /* Custom CSS for numbers of Career page */ }
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
    .section_offer .container {
      display: grid;
      grid-template-columns: 330px 1fr 1fr;
      grid-template-areas: "head form form"; }
      .section_offer .container .section__title, .section_offer .container .section__img-outer + * {
        grid-area: form; } }
  @media screen and (min-width: 768px) {
    .section_offer .container + .container {
      background-color: #f4f4f5;
      padding-top: 3.5vh;
      padding-bottom: 8vh; } }
  @media screen and (min-width: 1400px) {
    .section_offer .container + .container {
      padding-bottom: 12vh; } }
  @media screen and (min-width: 1700px) {
    .section_offer .section__title {
      padding-left: 3.5vw; } }
  .section_offer .section__img-outer IMG {
    max-height: 748px; }
    @media screen and (min-width: 1200px) {
      .section_offer .section__img-outer IMG {
        top: -145px; } }
  .section_offer .numbers {
    display: flex;
    flex-wrap: wrap; }
  .section_offer .numbers__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    @media screen and (min-width: 1200px) {
      .section_offer .numbers__item {
        padding-top: 2.5vh;
        padding-right: 27px; } }
    .section_offer .numbers__item .numbers__title {
      order: 2;
      font-family: "Work Sans", "Arial", sans-serif;
      margin: 0;
      padding: 0;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      font-weight: 800;
      line-height: 1.315; }
      @media screen and (max-width: 991px) {
        .section_offer .numbers__item .numbers__title {
          font-size: 1.5rem; } }
      @media screen and (min-width: 992px) {
        .section_offer .numbers__item .numbers__title {
          font-size: clamp(22px, calc(10px + 2vw), 32px); } }
      @media screen and (max-width: 991px) {
        .section_offer .numbers__item .numbers__title BR {
          display: none; } }
      @media screen and (max-width: 575px) {
        .section_offer .numbers__item .numbers__title {
          word-break: break-word; } }
    .section_offer .numbers__item P {
      color: #29a2ff;
      font-family: "Work Sans", "Arial", sans-serif;
      font-size: clamp(24px, calc(16px + 2vw), 48px);
      font-weight: 400;
      line-height: 1.55;
      margin: 0;
      white-space: nowrap;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      margin: 0; }
  @media screen and (max-width: 767px) {
    .section_offer .numbers__item {
      padding: 2vh 10px 3vh 0; } }
  @media screen and (min-width: 576px) {
    .section_offer .numbers__item {
      width: 50%; } }
  @media screen and (min-width: 768px) {
    .section_offer .numbers__item {
      padding-top: 2vh;
      padding-bottom: 2vh; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .section_offer .numbers__item:nth-child(odd) {
      padding-left: 5vw;
      padding-right: 5vw; }
    .section_offer .numbers__item:nth-child(even) {
      padding-right: 5vw; } }
  @media screen and (min-width: 1200px) {
    .section_offer .numbers__item {
      padding-left: 2.5vw; } }
  @media screen and (min-width: 1700px) {
    .section_offer .numbers__item {
      padding-bottom: 2.8vh;
      padding-left: 3.5vw; }
      .section_offer .numbers__item:nth-child(odd) {
        width: 21.5em; }
      .section_offer .numbers__item:nth-child(even) {
        width: calc(100% - 21.5em); }
        .section_offer .numbers__item:nth-child(even) .numbers__title {
          width: 13.5em; } }

/* Slideshow section */
.section_slideshow {
  /* Toggle tabs with arrow */
  /* Custom CSS for toggle of Career page */ }
  @media screen and (min-width: 1200px) {
    .section_slideshow .container {
      border-top: 1px solid #e1dfdf;
      display: flex; } }
  .section_slideshow .section__title {
    margin-top: 3vh; }
    @media screen and (max-width: 1199px) {
      .section_slideshow .section__title BR {
        display: none; } }
    @media screen and (min-width: 1200px) {
      .section_slideshow .section__title {
        width: 50%; } }
    @media screen and (min-width: 1700px) {
      .section_slideshow .section__title {
        width: 33.33%; } }
  @media screen and (min-width: 768px) {
    .section_slideshow .toggle {
      display: flex; } }
  .section_slideshow .toggle__tabs {
    list-style: none;
    position: relative;
    z-index: 1; }
    @media screen and (min-width: 768px) {
      .section_slideshow .toggle__tabs {
        min-width: fit-content; } }
    .section_slideshow .toggle__tabs li {
      font-family: "Work Sans", "Arial", sans-serif;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
      @media screen and (max-width: 767px) {
        .section_slideshow .toggle__tabs li {
          font-weight: 700;
          line-height: 1.12; }
          .section_slideshow .toggle__tabs li A {
            border-left: 4px solid #29a2ff;
            display: block;
            padding: 5px 0 5px 10px; }
          .section_slideshow .toggle__tabs li:hover A {
            color: #151731;
            border-left: 4px solid #151731; } }
      @media screen and (min-width: 768px) {
        .section_slideshow .toggle__tabs li {
          cursor: pointer;
          padding: 1.75vh 20px 1.8vh 0;
          position: relative; }
          .section_slideshow .toggle__tabs li.current:after, .section_slideshow .toggle__tabs li:hover A:after {
            content: '';
            background-color: #151731;
            height: calc(100% + 1px);
            width: 14px;
            position: absolute;
            top: 0;
            bottom: 0; }
          .section_slideshow .toggle__tabs li.current {
            border-bottom: 1px solid #29a2ff;
            pointer-events: none; }
            .section_slideshow .toggle__tabs li.current:after {
              background-color: #29a2ff; }
          .section_slideshow .toggle__tabs li A {
            pointer-events: none; } }
    .section_slideshow .toggle__tabs.toggle__tabs_title {
      position: relative; }
      .section_slideshow .toggle__tabs.toggle__tabs_title:before {
        content: '';
        background-color: #f4f4f5;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100vw;
        left: -100vw; }
      .section_slideshow .toggle__tabs.toggle__tabs_title .section__title {
        background-color: #f4f4f5;
        color: #151731; }
  .section_slideshow .toggle__content {
    padding-right: 3vw;
    position: relative;
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
    .section_slideshow .toggle__content DL {
      margin: 0;
      padding: 0; }
      .section_slideshow .toggle__content DL DT {
        color: #29a2ff;
        font-family: "Work Sans", "Arial", sans-serif;
        font-size: clamp(24px, calc(16px + 2vw), 48px);
        font-weight: 400;
        line-height: 1.55;
        margin: 0;
        white-space: nowrap;
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
        .section_slideshow .toggle__content DL DT:not(:first-child) {
          border-top: 1px solid #e1dfdf; }
          @media screen and (max-width: 767px) {
            .section_slideshow .toggle__content DL DT:not(:first-child) {
              margin-top: 2vh;
              padding-top: 2vh; } }
          @media screen and (min-width: 768px) {
            .section_slideshow .toggle__content DL DT:not(:first-child) {
              margin-top: 5vh;
              padding-top: 5vh; } }
      .section_slideshow .toggle__content DL DD:not(.toggle__subtitle-small) {
        margin: 0; }
      .section_slideshow .toggle__content DL DD.toggle__subtitle-small {
        margin: 1vh 0 0; }
    .section_slideshow .toggle__content P {
      line-height: 1.6;
      margin: 1.9em 0; }
    .section_slideshow .toggle__content.toggle__content_items {
      padding-bottom: 0; }
      @media screen and (max-width: 767px) {
        .section_slideshow .toggle__content.toggle__content_items {
          padding-top: 2vh; } }
  .section_slideshow .toggle__content-box {
    display: none;
    -webkit-animation: fade 0.5s ease-in forwards;
    animation: fade 0.5s ease-in forwards; }
    .section_slideshow .toggle__content-box.visible {
      display: block; }
  .section_slideshow .toggle__title {
    font-size: clamp(28px, calc(16px + 2vw), 48px); }
    .section_slideshow .toggle__title SPAN {
      color: #aeafbc;
      font-weight: 400;
      white-space: nowrap; }
  .section_slideshow .toggle__subtitle {
    font-size: clamp(36px, calc(29px + 4vw), 90px);
    line-height: 1.065;
    margin-top: 4vh; }
  .section_slideshow .toggle__subtitle-big {
    font-family: "Work Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    font-size: clamp(32px, calc(13px + 5vw), 72px);
    font-weight: 700;
    margin-top: 4vh; }
    @media screen and (max-width: 991px) {
      .section_slideshow .toggle__subtitle-big {
        line-height: 1.1; } }
    @media screen and (min-width: 992px) {
      .section_slideshow .toggle__subtitle-big {
        line-height: 1.195; } }
  .section_slideshow .toggle__subtitle-medium {
    font-family: "Work Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    font-size: clamp(26px, calc(12px + 3vw), 40px);
    font-weight: 800;
    line-height: 1.2;
    margin-top: 4vh; }
  .section_slideshow .toggle__subtitle-small {
    font-family: "Work Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    font-weight: 800;
    line-height: 1.315;
    margin-top: 4vh; }
    @media screen and (max-width: 991px) {
      .section_slideshow .toggle__subtitle-small {
        font-size: 1.5rem; } }
    @media screen and (min-width: 992px) {
      .section_slideshow .toggle__subtitle-small {
        font-size: clamp(22px, calc(10px + 2vw), 32px); } }
  .section_slideshow .toggle__controls {
    display: flex;
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 1; }
    .section_slideshow .toggle__controls SPAN {
      display: none; }
  .section_slideshow .toggle__number {
    color: #e1dfdf;
    font-family: "Work Sans", "Arial", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 8px 26px 0 0;
    position: absolute;
    right: 0; }
    @media screen and (max-width: 1023px) {
      .section_slideshow .toggle__number {
        top: 48px; } }
    @media screen and (min-width: 1024px) {
      .section_slideshow .toggle__number {
        top: 68px; } }
    .section_slideshow .toggle__number SPAN {
      color: #151731; }
  .section_slideshow .toggle {
    border-right: 1px solid #e1dfdf;
    border-bottom: 1px solid #e1dfdf;
    border-left: 1px solid #e1dfdf;
    display: block;
    margin-left: auto;
    position: relative; }
    @media screen and (max-width: 1199px) {
      .section_slideshow .toggle {
        border-top: 1px solid #e1dfdf; } }
    @media screen and (min-width: 1200px) {
      .section_slideshow .toggle {
        width: 50%; } }
    @media screen and (min-width: 1700px) {
      .section_slideshow .toggle {
        width: 66.66%; } }
  .section_slideshow .toggle__content-box {
    display: block; }
    @media screen and (max-width: 1199px) {
      .section_slideshow .toggle__content-box {
        padding: 9vh 7.3vw; } }
    @media screen and (min-width: 1200px) {
      .section_slideshow .toggle__content-box {
        min-height: 500px;
        padding: 11vh 7.3vw; } }
    @media screen and (min-width: 1400px) {
      .section_slideshow .toggle__content-box {
        padding: 14.5vh 7.3vw; } }
    .section_slideshow .toggle__content-box .toggle__title {
      font-family: "Work Sans", "Arial", sans-serif;
      margin: 0;
      padding: 0;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      font-size: clamp(26px, calc(12px + 3vw), 40px);
      font-weight: 800;
      line-height: 1.2;
      font-weight: 700;
      padding-bottom: 5px; }
    .section_slideshow .toggle__content-box .toggle__subtitle-small {
      color: #aeafbc;
      font-family: "Work Sans", "Arial", sans-serif;
      margin: 0;
      padding: 0;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      font-weight: 800;
      line-height: 1.315;
      font-weight: 400;
      padding-bottom: 5vh; }
      @media screen and (max-width: 991px) {
        .section_slideshow .toggle__content-box .toggle__subtitle-small {
          font-size: 1.5rem; } }
      @media screen and (min-width: 992px) {
        .section_slideshow .toggle__content-box .toggle__subtitle-small {
          font-size: clamp(22px, calc(10px + 2vw), 32px); } }
    .section_slideshow .toggle__content-box P {
      font-size: 2.4rem;
      line-height: 1.2;
      max-width: 36em;
      margin: 0;
      padding: 0; }
      .section_slideshow .toggle__content-box P IMG {
        max-width: 36px; }

/* Bottom form section */
/* Bottom form section */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .section_form .container {
    display: grid;
    grid-template-columns: 330px 1fr 1fr;
    grid-template-areas: "head form form"; }
    .section_form .container .section__title, .section_form .container .section__img-outer + * {
      grid-area: form; } }
.section_form .container:first-child {
  position: relative;
  z-index: 1; }
@media screen and (min-width: 768px) {
  .section_form .container + .container {
    border-top: 10vh solid #fff;
    border-bottom: 10vh solid #f4f4f5;
    position: relative; }
    .section_form .container + .container:after {
      content: '';
      background-color: #f4f4f5;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100vw;
      border-bottom: 10vh solid #f4f4f5;
      right: -100vw; } }
@media screen and (max-width: 767px) {
  .section_form .section__title {
    margin-bottom: -0.2em; } }
@media screen and (min-width: 768px) {
  .section_form .section__title {
    margin-bottom: calc((10vh + 0.2em) * -1); } }
@media screen and (min-width: 992px) {
  .section_form .section__title {
    margin-bottom: calc((10vh + 0.25em) * -1); } }
@media screen and (min-width: 1700px) {
  .section_form .section__title {
    padding-left: 6vw; } }
.section_form .section__img-outer IMG {
  bottom: -10vh;
  max-height: 863px; }
@media screen and (max-width: 767px) {
  .section_form .form {
    margin-bottom: 3vh; } }
@media screen and (min-width: 768px) {
  .section_form .btn_right {
    min-width: calc(50% - 2.5vw);
    padding-left: 2vw;
    padding-right: 2vw; } }
@media screen and (min-width: 1200px) {
  .section_form .btn_right {
    min-width: 44%; } }
@media screen and (min-width: 1700px) {
  .section_form .btn_right {
    min-width: 380px; } }

@media screen and (min-width: 768px) {
  .section_form {
    margin-top: 20vh; } }
.section_form .section__img-outer IMG {
  max-height: 1110px; }
