/*
CSS root variables media
*/
@media screen and (max-width: 1199px) {
  :root {
    --bdrs: 3px;
    --sm: 5px;
    --md: 12px;
    --lg: 16px;
    --xl: 35px;
    --header-height: 99px; } }
@media screen and (min-width: 1200px) {
  :root {
    --bdrs: 5px;
    --sm: 8px;
    --md: 15px;
    --lg: 32px;
    --xl: 55px; } }
@media screen and (max-width: 767px) {
  :root {
    --header-height: 48px;
    --header-height-sticky: calc(var(--header-height) - 10px); } }
@media screen and (min-width: 768px) {
  :root {
    --header-height: 59px;
    --header-height-sticky: calc(var(--header-height) - 12px); } }
@media screen and (min-width: 1200px) {
  :root {
    --header-height: 96px;
    --header-height-sticky: calc(var(--header-height) - 40px); } }
@media screen and (max-width: 991px) {
  :root {
    --font-size-base: 16px; } }
@media screen and (min-width: 992px) {
  :root {
    --font-size-base: 20px; } }
/*
General Landing styles
*/
.section {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  -webkit-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  .section:not(.section_top):not(.section_top-small):not(.section_top-small + .section):not(.section_toggle):not(.section_form):not(.section_contact):not(.section_career) {
    overflow: hidden; }
    @media screen and (max-width: 767px) {
      .section:not(.section_top):not(.section_top-small):not(.section_top-small + .section):not(.section_toggle):not(.section_form):not(.section_contact):not(.section_career) {
        margin: 10vh 0; } }
    @media screen and (min-width: 768px) {
      .section:not(.section_top):not(.section_top-small):not(.section_top-small + .section):not(.section_toggle):not(.section_form):not(.section_contact):not(.section_career) {
        margin: 16vh 0; } }

.section__title {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-size: clamp(32px, calc(13px + 5vw), 72px);
  font-weight: 700; }
  @media screen and (max-width: 991px) {
    .section__title {
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    .section__title {
      line-height: 1.195; } }
  @media screen and (max-width: 767px) {
    .section__title {
      margin-bottom: 25px;
      padding-right: 3vw; } }
  @media screen and (min-width: 768px) {
    .section__title {
      margin-bottom: 3.5vh; } }

.section__slogan {
  line-height: 1.59;
  margin: 0; }
  @media screen and (min-width: 992px) {
    .section__slogan {
      font-size: clamp(0.8rem, calc(7px + 1vw), 24px); } }
  @media screen and (max-width: 767px) {
    .section__slogan {
      padding: 2vh 3vw 1vh 0; } }
  @media screen and (min-width: 768px) {
    .section__slogan {
      padding: 4.5vh 0 0; } }

/* All blocks with a floating background image to left of content */
@media screen and (min-width: 1400px) {
  .container + .container {
    display: grid;
    grid-template-columns: 407px 1fr; } }

.section__title {
  padding-bottom: 0; }
  @media screen and (min-width: 1200px) {
    .section__title {
      padding-left: 2.5vw;
      transition: none; } }
  @media screen and (min-width: 1400px) {
    .section__title {
      margin-left: 407px; } }

@media screen and (max-width: 1199px) {
  .section__img-outer {
    display: none; } }
@media screen and (min-width: 1200px) {
  .section__img-outer {
    position: relative; } }
@media screen and (min-width: 1200px) {
  .section__img-outer IMG {
    display: block;
    position: absolute;
    right: 0;
    object-fit: cover;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    max-width: 568px;
    width: 100vh; } }

.section_contact {
  /* All blocks with a floating background image to left of content */
  /* Only Contact Us page */ }
  @media screen and (min-width: 1400px) {
    .section_contact .container + .container {
      display: grid;
      grid-template-columns: 407px 1fr; } }
  .section_contact .section__title {
    padding-bottom: 0; }
    @media screen and (min-width: 1200px) {
      .section_contact .section__title {
        padding-left: 2.5vw;
        transition: none; } }
    @media screen and (min-width: 1400px) {
      .section_contact .section__title {
        margin-left: 407px; } }
  @media screen and (max-width: 1199px) {
    .section_contact .section__img-outer {
      display: none; } }
  @media screen and (min-width: 1200px) {
    .section_contact .section__img-outer {
      position: relative; } }
  @media screen and (min-width: 1200px) {
    .section_contact .section__img-outer IMG {
      display: block;
      position: absolute;
      right: 0;
      object-fit: cover;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      max-width: 568px;
      width: 100vh; } }
  .section_contact .container-fluid {
    background-color: #fff;
    position: relative;
    z-index: 1; }
    @media screen and (max-width: 1199px) {
      .section_contact .container-fluid {
        padding-bottom: 4vh; } }
    @media screen and (min-width: 1200px) {
      .section_contact .container-fluid {
        padding-bottom: 8vh; } }
    @media screen and (min-width: 1200px) and (max-width: 1399px) {
      .section_contact .container-fluid + .container {
        display: grid;
        grid-template-columns: 330px 1fr 1fr;
        grid-template-areas: "head form form"; }
        .section_contact .container-fluid + .container .section__title, .section_contact .container-fluid + .container .section__img-outer + * {
          grid-area: form; } }
    @media screen and (min-width: 1400px) {
      .section_contact .container-fluid + .container {
        display: grid;
        grid-template-columns: 407px 1fr; } }
    @media screen and (min-width: 768px) {
      .section_contact .container-fluid + .container {
        border-top: 10vh solid #fff;
        border-bottom: 10vh solid #f4f4f5;
        position: relative; }
        .section_contact .container-fluid + .container:after {
          content: '';
          background-color: #f4f4f5;
          position: absolute;
          top: 0;
          height: 100%;
          width: 100vw;
          border-bottom: 10vh solid #f4f4f5;
          right: -100vw; } }
    @media screen and (min-width: 1200px) {
      .section_contact .container-fluid + .container {
        margin-top: 6vh; } }
  .section_contact .section__title {
    font-size: clamp(40px, calc(29px + 5vw), 110px);
    line-height: 1.01;
    margin: 0; }
    @media screen and (max-width: 1199px) {
      .section_contact .section__title {
        padding: 8vh 0 3vh; } }
    @media screen and (max-width: 767px) {
      .section_contact .section__title {
        padding: 8vh 0 0; } }
    @media screen and (min-width: 1200px) {
      .section_contact .section__title {
        padding: 12vh 0 0; } }
    @media screen and (min-width: 1400px) {
      .section_contact .section__title {
        display: flex;
        align-items: center; } }
  .section_contact .section__subtitle {
    font-family: "Work Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    font-weight: 800;
    line-height: 1.33;
    display: block; }
    @media screen and (max-width: 991px) {
      .section_contact .section__subtitle {
        font-size: 1.2rem; } }
    @media screen and (min-width: 992px) {
      .section_contact .section__subtitle {
        font-size: 1.2rem; } }
    @media screen and (max-width: 1399px) {
      .section_contact .section__subtitle {
        margin-top: 15px; } }
    @media screen and (min-width: 1400px) {
      .section_contact .section__subtitle {
        padding-left: 30px;
        margin-top: 27px;
        max-width: 20em; } }
    @media screen and (min-width: 1700px) {
      .section_contact .section__subtitle {
        max-width: 30em; } }
  .section_contact .section__img-outer IMG {
    bottom: -10vh;
    max-height: 950px; }
  .section_contact .form {
    padding-top: 0; }
    @media screen and (max-width: 767px) {
      .section_contact .form {
        margin-bottom: 3vh; } }
    @media screen and (min-width: 768px) {
      .section_contact .form {
        margin-top: calc((105px + 1.58rem) / 2 * -1); } }
    @media screen and (min-width: 992px) {
      .section_contact .form {
        margin-top: calc((133px + 1.58rem) / 2 * -1); } }
  @media screen and (min-width: 768px) {
    .section_contact .btn_right {
      min-width: calc(50% - 2.5vw);
      padding-left: 2vw;
      padding-right: 2vw; } }
  @media screen and (min-width: 1200px) {
    .section_contact .btn_right {
      min-width: 44%; } }
  @media screen and (min-width: 1700px) {
    .section_contact .btn_right {
      min-width: 380px; } }
