/*
CSS root variables media
*/
@media screen and (max-width: 1199px) {
  :root {
    --bdrs: 3px;
    --sm: 5px;
    --md: 12px;
    --lg: 16px;
    --xl: 35px;
    --header-height: 99px; } }
@media screen and (min-width: 1200px) {
  :root {
    --bdrs: 5px;
    --sm: 8px;
    --md: 15px;
    --lg: 32px;
    --xl: 55px; } }
@media screen and (max-width: 767px) {
  :root {
    --header-height: 48px;
    --header-height-sticky: calc(var(--header-height) - 10px); } }
@media screen and (min-width: 768px) {
  :root {
    --header-height: 59px;
    --header-height-sticky: calc(var(--header-height) - 12px); } }
@media screen and (min-width: 1200px) {
  :root {
    --header-height: 96px;
    --header-height-sticky: calc(var(--header-height) - 40px); } }
@media screen and (max-width: 991px) {
  :root {
    --font-size-base: 16px; } }
@media screen and (min-width: 992px) {
  :root {
    --font-size-base: 20px; } }
/*
General Landing styles
*/
.section {
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  @media screen and (max-width: 767px) {
    .section:not(.section_top):not(.section_top-small):not(.section_top-small + .section):not(.section_form) {
      margin: 10vh 0; } }
  @media screen and (min-width: 768px) {
    .section:not(.section_top):not(.section_top-small):not(.section_top-small + .section):not(.section_form) {
      margin: 18vh 0; } }

.section__title {
  font-size: clamp(30px, calc(13px + 5vw), 72px);
  line-height: 1.175;
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  @media screen and (max-width: 767px) {
    .section__title {
      padding-right: 3vw;
      margin-bottom: 25px; } }
  @media screen and (min-width: 768px) {
    .section__title {
      margin-bottom: 3.5vh; } }

.section__slogan {
  line-height: 1.59;
  margin: 0; }
  @media screen and (min-width: 768px) {
    .section__slogan {
      padding: 4.5vh 0 0; } }
  @media screen and (min-width: 992px) {
    .section__slogan {
      font-size: clamp(0.8rem, calc(7px + 1vw), 24px); } }

/*
Small top section
*/
.section_top-small {
  margin-bottom: 6vh;
  position: relative; }
  @media screen and (max-width: 767px) {
    .section_top-small {
      display: flex;
      flex-direction: column-reverse; } }
  @media screen and (min-width: 768px) {
    .section_top-small {
      color: #fff; } }
  .section_top-small .section__content-left {
    position: relative; }
    @media screen and (max-width: 767px) {
      .section_top-small .section__content-left {
        padding: 3vh 0 0; } }
    @media screen and (min-width: 768px) {
      .section_top-small .section__content-left {
        padding: 7vh 0; } }
    @media screen and (min-width: 1700px) {
      .section_top-small .section__content-left {
        padding: 10vh 0 16vh; } }
  .section_top-small .section__title-page {
    font-size: clamp(30px, calc(13px + 5vw), 72px);
    font-weight: 700; }
    @media screen and (max-width: 991px) {
      .section_top-small .section__title-page {
        line-height: 1.1; } }
    @media screen and (min-width: 992px) {
      .section_top-small .section__title-page {
        line-height: 1.195; } }
    @media screen and (min-width: 768px) {
      .section_top-small .section__title-page {
        max-width: 14em; } }
    @media screen and (max-width: 1399px) {
      .section_top-small .section__title-page BR {
        display: none; } }
  @media screen and (min-width: 768px) {
    .section_top-small .section__slogan {
      max-width: 38em; } }
  .section_top-small .section__img {
    max-width: 100%; }
    @media screen and (max-width: 767px) {
      .section_top-small .section__img {
        display: block; } }
    @media screen and (min-width: 768px) {
      .section_top-small .section__img {
        height: 100%;
        object-fit: none;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: 100%; } }

/*
Tag Block
*/
.tag {
  font-size: 0;
  line-height: 1.6;
  list-style: none;
  margin-bottom: 5vh; }
  @media screen and (min-width: 576px) {
    .tag {
      display: flex; } }

@media screen and (min-width: 992px) {
  .tag__col:not(:first-child) {
    margin-left: 4vw; } }

.tag__title {
  font-weight: 800;
  line-height: 1.33;
  margin-bottom: 1.7vh; }
  @media screen and (max-width: 991px) {
    .tag__title {
      font-size: 1.2rem; } }
  @media screen and (min-width: 992px) {
    .tag__title {
      font-size: 1.2rem; } }

.tag__item {
  border: 1px solid #e1dfdf;
  display: inline-flex;
  align-items: center;
  font-family: "Work Sans", "Arial", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  @media screen and (max-width: 991px) {
    .tag__item {
      height: 32px;
      margin-right: 12px;
      margin-bottom: 12px;
      padding: 0 7px; } }
  @media screen and (min-width: 992px) {
    .tag__item {
      height: 40px;
      margin-right: 16px;
      margin-bottom: 16px;
      padding: 0 10px; } }

/* Text section */
.content-txt:not(.content-txt_table) HR {
  margin-bottom: 6vh; }
.content-txt H2, .content-txt H3, .content-txt P, .content-txt UL, .content-txt OL {
  max-width: 67em; }
.content-txt .section__subtitle {
  font-weight: 800;
  margin-top: 2.1em;
  margin-bottom: -.15em; }
  @media screen and (max-width: 991px) {
    .content-txt .section__subtitle {
      font-size: 1.5rem; } }
  @media screen and (min-width: 992px) {
    .content-txt .section__subtitle {
      font-size: 2rem; } }
.content-txt .section__subtitle-caps {
  font-weight: 800;
  line-height: 1.315;
  margin-top: 1.55em;
  text-transform: uppercase; }
  @media screen and (max-width: 991px) {
    .content-txt .section__subtitle-caps {
      font-size: 1.5rem; } }
  @media screen and (min-width: 992px) {
    .content-txt .section__subtitle-caps {
      font-size: clamp(24px, calc(10px + 2vw), 32px); } }
.content-txt .section__subtitle-small {
  font-weight: 800;
  line-height: 1.33;
  margin-top: 1em;
  margin-bottom: -.6em; }
  @media screen and (max-width: 991px) {
    .content-txt .section__subtitle-small {
      font-size: 1.2rem; } }
  @media screen and (min-width: 992px) {
    .content-txt .section__subtitle-small {
      font-size: 1.2rem; } }
.content-txt .section__subtitle-micro {
  font-weight: 800;
  line-height: 1.45;
  margin-bottom: -.6em; }
  @media screen and (max-width: 991px) {
    .content-txt .section__subtitle-micro {
      font-size: 1rem; } }
  @media screen and (min-width: 992px) {
    .content-txt .section__subtitle-micro {
      font-size: 0.9rem; } }
.content-txt P {
  line-height: 1.6;
  margin-top: 1.55em;
  margin-bottom: 1.55em; }
.content-txt UL, .content-txt OL {
  line-height: 1.4;
  margin-top: 1.55em;
  margin-bottom: 1.55em;
  padding-left: 21px; }
  .content-txt UL LI, .content-txt OL LI {
    margin: .3em 0; }
.content-txt A {
  text-decoration: underline; }
  .content-txt A:hover {
    color: #29a2ff; }
.content-txt TABLE TH, .content-txt TABLE TD {
  border: 1px solid #e1dfdf; }
  @media screen and (max-width: 767px) {
    .content-txt TABLE TH, .content-txt TABLE TD {
      padding: var(--lg) 1vw; } }
  @media screen and (min-width: 768px) {
    .content-txt TABLE TH, .content-txt TABLE TD {
      padding: 3vh 1vw; } }
.content-txt TABLE {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }
  @media screen and (max-width: 767px) {
    .content-txt TABLE {
      overflow-x: scroll;
      display: block; } }
  .content-txt TABLE TH {
    font-family: "Work Sans", "Arial", sans-serif;
    font-weight: 500;
    background-color: #f4f4f5;
    border: 1px solid #e1dfdf; }
    @media screen and (min-width: 768px) {
      .content-txt TABLE TH {
        position: sticky;
        top: var(--header-height); }
        .content-txt TABLE TH:first-child {
          white-space: nowrap; } }
  @media screen and (min-width: 992px) {
    .content-txt TABLE TD {
      font-size: 0.9rem; } }

@media screen and (min-width: 768px) {
  .sticky + main TABLE TH {
    top: var(--header-height-sticky); } }

.container-fluid {
  background-color: #f4f4f5; }

.table-row {
  border-top: 1px solid #e1dfdf; }
  @media screen and (min-width: 768px) {
    .table-row {
      display: flex; } }
  .table-row .section__subtitle {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .table-row .section__subtitle {
        max-width: 21vw; } }
    @media screen and (min-width: 1700px) {
      .table-row .section__subtitle {
        max-width: 375px; } }
  @media screen and (max-width: 767px) {
    .table-row .table-row__text {
      padding: 0 0 4vh; } }
  @media screen and (min-width: 768px) {
    .table-row .table-row__text {
      border-left: 1px solid #e1dfdf;
      padding: 2.5vh 0 5vh 2.5vw; } }

.table-row_grey {
  background-color: #f4f4f5; }
  .table-row_grey IMG {
    border: 4px solid #383535;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
    margin: 2vh 0;
    max-width: 100%; }

/*
Form section
*/
@media screen and (min-width: 768px) {
  .section_form .btn_right {
    padding-left: 2vw;
    padding-right: 2vw; } }
@media screen and (min-width: 1700px) {
  .section_form {
    margin: 27vh 0 0; } }
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .section_form .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "head form form"; }
    .section_form .container .title_2,
    .section_form .container .form {
      grid-area: form; } }
.section_form > .container {
  position: relative;
  z-index: 1; }
.section_form .section__title {
  padding-bottom: 0; }
  @media screen and (max-width: 1199px) {
    .section_form .section__title {
      margin-bottom: 0; } }
  @media screen and (min-width: 768px) {
    .section_form .section__title {
      padding-left: 5vw; } }
  @media screen and (min-width: 1200px) {
    .section_form .section__title {
      margin-bottom: -16px;
      padding-left: 3vw;
      transition: none;
      grid-area: form; } }
  @media screen and (min-width: 1400px) {
    .section_form .section__title {
      margin-left: 383px; } }
  @media screen and (min-width: 1700px) {
    .section_form .section__title {
      padding-left: 6vw; } }
@media screen and (min-width: 768px) {
  .section_form .container-fluid {
    background-color: #f4f4f5; } }
@media screen and (max-width: 767px) {
  .section_form .container-fluid .container {
    padding-bottom: 3vh; } }
@media screen and (min-width: 768px) {
  .section_form .container-fluid .container {
    padding-bottom: 7vh; } }
@media screen and (min-width: 1400px) {
  .section_form .container-fluid .container {
    display: grid;
    grid-template-columns: 383px 1fr; } }
@media screen and (min-width: 1700px) {
  .section_form .container-fluid .container {
    padding-bottom: 20vh; } }
.section_form .section__img-outer {
  position: relative; }
  @media screen and (max-width: 1199px) {
    .section_form .section__img-outer {
      display: none; } }
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
    .section_form .section__img-outer {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      max-width: calc(8vw + 28% + 1px);
      width: 100%; } }
  .section_form .section__img-outer IMG {
    display: block;
    max-width: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
    @media screen and (min-width: 1400px) {
      .section_form .section__img-outer IMG {
        position: absolute;
        right: 0;
        bottom: -7vh;
        min-width: 30vw;
        max-width: 400px; } }
    @media screen and (min-width: 1700px) {
      .section_form .section__img-outer IMG {
        bottom: -20vh;
        max-width: 600px;
        min-width: auto;
        width: 33vw; } }
