/*
CSS root variables media
*/
@media screen and (max-width: 1199px) {
  :root {
    --bdrs: 3px;
    --sm: 5px;
    --md: 12px;
    --lg: 16px;
    --xl: 35px;
    --header-height: 99px; } }
@media screen and (min-width: 1200px) {
  :root {
    --bdrs: 5px;
    --sm: 8px;
    --md: 15px;
    --lg: 32px;
    --xl: 55px; } }
@media screen and (max-width: 767px) {
  :root {
    --header-height: 48px;
    --header-height-sticky: calc(var(--header-height) - 10px); } }
@media screen and (min-width: 768px) {
  :root {
    --header-height: 59px;
    --header-height-sticky: calc(var(--header-height) - 12px); } }
@media screen and (min-width: 1200px) {
  :root {
    --header-height: 96px;
    --header-height-sticky: calc(var(--header-height) - 40px); } }
@media screen and (max-width: 991px) {
  :root {
    --font-size-base: 16px; } }
@media screen and (min-width: 992px) {
  :root {
    --font-size-base: 20px; } }
/*
General Landing styles
*/
.section {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  -webkit-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  .section:not(.section_top):not(.section_top-small):not(.section_top-small + .section):not(.section_toggle):not(.section_form):not(.section_career) {
    overflow: hidden; }
    @media screen and (max-width: 767px) {
      .section:not(.section_top):not(.section_top-small):not(.section_top-small + .section):not(.section_toggle):not(.section_form):not(.section_career) {
        margin: 10vh 0; } }
    @media screen and (min-width: 768px) {
      .section:not(.section_top):not(.section_top-small):not(.section_top-small + .section):not(.section_toggle):not(.section_form):not(.section_career) {
        margin: 16vh 0; } }

.section__title {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-size: clamp(32px, calc(13px + 5vw), 72px);
  font-weight: 700; }
  @media screen and (max-width: 991px) {
    .section__title {
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    .section__title {
      line-height: 1.195; } }
  @media screen and (max-width: 767px) {
    .section__title {
      margin-bottom: 25px;
      padding-right: 3vw; } }
  @media screen and (min-width: 768px) {
    .section__title {
      margin-bottom: 3.5vh; } }

.section__slogan {
  line-height: 1.59;
  margin: 0; }
  @media screen and (min-width: 992px) {
    .section__slogan {
      font-size: clamp(0.8rem, calc(7px + 1vw), 24px); } }
  @media screen and (max-width: 767px) {
    .section__slogan {
      padding: 2vh 3vw 1vh 0; } }
  @media screen and (min-width: 768px) {
    .section__slogan {
      padding: 4.5vh 0 0; } }

/*
Small top section
*/
.section_top-small {
  margin-bottom: 6vh; }
  @media screen and (max-width: 767px) {
    .section_top-small {
      display: flex;
      flex-direction: column-reverse; } }
  @media screen and (min-width: 768px) {
    .section_top-small {
      color: #fff; } }
  .section_top-small .section__content-left {
    position: relative; }
    @media screen and (max-width: 767px) {
      .section_top-small .section__content-left {
        padding: 3vh 0 0; } }
    @media screen and (min-width: 768px) {
      .section_top-small .section__content-left {
        padding: 7vh 0; } }
    @media screen and (min-width: 1700px) {
      .section_top-small .section__content-left {
        padding: 10vh 0 16vh; } }
  .section_top-small .section__title-page {
    font-family: "Work Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    font-size: clamp(32px, calc(13px + 5vw), 72px);
    font-weight: 700; }
    @media screen and (max-width: 991px) {
      .section_top-small .section__title-page {
        line-height: 1.1; } }
    @media screen and (min-width: 992px) {
      .section_top-small .section__title-page {
        line-height: 1.195; } }
    @media screen and (min-width: 768px) {
      .section_top-small .section__title-page {
        max-width: 14em; } }
    @media screen and (max-width: 1399px) {
      .section_top-small .section__title-page BR {
        display: none; } }
  @media screen and (min-width: 768px) {
    .section_top-small .section__slogan {
      max-width: 38em; } }
  .section_top-small .section__img {
    max-width: 100%; }
    @media screen and (max-width: 767px) {
      .section_top-small .section__img {
        display: block; } }
    @media screen and (min-width: 768px) {
      .section_top-small .section__img {
        height: 100%;
        object-fit: none;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: 100%; } }

/*
Tag Block
*/
.tag {
  font-size: 0;
  line-height: 1.6;
  list-style: none;
  margin-bottom: 5vh; }
  @media screen and (min-width: 768px) {
    .tag {
      display: flex; } }

@media screen and (min-width: 992px) {
  .tag__col:not(:first-child) {
    margin-left: 4vw; } }

.tag__title {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-weight: 800;
  line-height: 1.33;
  margin-bottom: 1.7vh; }
  @media screen and (max-width: 991px) {
    .tag__title {
      font-size: 1.2rem; } }
  @media screen and (min-width: 992px) {
    .tag__title {
      font-size: 1.2rem; } }

.tag__item {
  border: 1px solid #e1dfdf;
  display: inline-flex;
  align-items: center;
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.45;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  @media screen and (max-width: 991px) {
    .tag__item {
      font-size: 1rem; } }
  @media screen and (min-width: 992px) {
    .tag__item {
      font-size: 0.9rem; } }
  @media screen and (max-width: 991px) {
    .tag__item {
      height: 32px;
      margin-right: 12px;
      margin-bottom: 12px;
      padding: 0 7px; } }
  @media screen and (min-width: 992px) {
    .tag__item {
      height: 40px;
      margin-right: 16px;
      margin-bottom: 16px;
      padding: 0 10px; } }

:root {
  --mg: 2vh; }

.content-txt .section__subtitle, .career .section__subtitle {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-size: clamp(26px, calc(12px + 3vw), 40px);
  font-weight: 800;
  line-height: 1.2; }
  @media screen and (max-width: 767px) {
    .content-txt .section__subtitle, .career .section__subtitle {
      margin-top: 5vh;
      margin-bottom: 2vh; } }
  @media screen and (min-width: 768px) {
    .content-txt .section__subtitle, .career .section__subtitle {
      margin-top: 9.5vh;
      margin-bottom: 3.5vh; } }
.content-txt .section__subtitle-caps, .career .section__subtitle-caps {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-weight: 800;
  line-height: 1.315;
  margin-top: calc(var(--mg) + 2vh);
  text-transform: uppercase; }
  @media screen and (max-width: 991px) {
    .content-txt .section__subtitle-caps, .career .section__subtitle-caps {
      font-size: 1.5rem; } }
  @media screen and (min-width: 992px) {
    .content-txt .section__subtitle-caps, .career .section__subtitle-caps {
      font-size: clamp(22px, calc(10px + 2vw), 32px); } }
.content-txt .section__subtitle-middle, .career .section__subtitle-middle {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-weight: 800;
  line-height: 1.315; }
  @media screen and (max-width: 991px) {
    .content-txt .section__subtitle-middle, .career .section__subtitle-middle {
      font-size: 1.5rem; } }
  @media screen and (min-width: 992px) {
    .content-txt .section__subtitle-middle, .career .section__subtitle-middle {
      font-size: clamp(22px, calc(10px + 2vw), 32px); } }
.content-txt .section__subtitle-small, .career .section__subtitle-small {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-weight: 800;
  line-height: 1.33;
  margin-top: calc(var(--mg) + 2vh);
  margin-bottom: var(--mg); }
  @media screen and (max-width: 991px) {
    .content-txt .section__subtitle-small, .career .section__subtitle-small {
      font-size: 1.2rem; } }
  @media screen and (min-width: 992px) {
    .content-txt .section__subtitle-small, .career .section__subtitle-small {
      font-size: 1.2rem; } }
.content-txt .section__subtitle-micro, .career .section__subtitle-micro {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-weight: 800;
  line-height: 1.45;
  margin-bottom: -.6em; }
  @media screen and (max-width: 991px) {
    .content-txt .section__subtitle-micro, .career .section__subtitle-micro {
      font-size: 1rem; } }
  @media screen and (min-width: 992px) {
    .content-txt .section__subtitle-micro, .career .section__subtitle-micro {
      font-size: 0.9rem; } }
.content-txt P, .career P {
  line-height: 1.6;
  margin-top: var(--mg);
  margin-bottom: var(--mg); }
.content-txt UL, .career UL, .content-txt OL, .career OL {
  line-height: 1.4;
  margin-top: var(--mg);
  margin-bottom: var(--mg);
  padding-left: 21px; }
  .content-txt UL LI, .career UL LI, .content-txt OL LI, .career OL LI {
    margin: .3em 0; }
.content-txt A, .career A {
  text-decoration: underline; }
  .content-txt A:hover, .career A:hover {
    color: #29a2ff;
    text-decoration: none; }

/* Text section */
@media screen and (max-width: 1199px) {
  .section_txt {
    margin-bottom: 8vh; } }
@media screen and (min-width: 1200px) {
  .section_txt {
    margin-bottom: -2vh; } }
@media screen and (min-width: 1700px) {
  .section_txt {
    margin-bottom: 0; } }

.content-txt.container-fluid {
  background-color: #f4f4f5; }
.content-txt:not(.content-txt_table) HR {
  margin-bottom: 6vh; }
@media screen and (min-width: 1200px) {
  .content-txt.content-txt_table:last-child .table-row__right {
    padding-bottom: 10vh; } }
.content-txt TABLE TH, .content-txt TABLE TD {
  border: 1px solid #e1dfdf; }
  @media screen and (max-width: 767px) {
    .content-txt TABLE TH, .content-txt TABLE TD {
      padding: var(--lg) 1vw; } }
  @media screen and (min-width: 768px) {
    .content-txt TABLE TH, .content-txt TABLE TD {
      padding: 3vh 1vw; } }
.content-txt TABLE {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }
  @media screen and (max-width: 767px) {
    .content-txt TABLE {
      overflow-x: scroll;
      display: block; } }
  .content-txt TABLE TH {
    font-family: "Work Sans", "Arial", sans-serif;
    font-weight: 500;
    background-color: #f4f4f5;
    border: 1px solid #e1dfdf; }
    @media screen and (min-width: 768px) {
      .content-txt TABLE TH {
        position: sticky;
        top: var(--header-height); }
        .content-txt TABLE TH:first-child {
          white-space: nowrap; } }
  @media screen and (min-width: 992px) {
    .content-txt TABLE TD {
      font-size: 0.9rem; } }

@media screen and (max-width: 1199px) {
  .section_col-left, .section_aside {
    margin-bottom: 8vh; } }
@media screen and (min-width: 1200px) {
  .section_col-left, .section_aside {
    margin-bottom: 18vh; } }
@media screen and (min-width: 768px) {
  .section_col-left .container > *:not(ASIDE), .section_aside .container > *:not(ASIDE) {
    max-width: 67em;
    width: 70%; } }

.table-row {
  border-top: 1px solid #e1dfdf; }
  @media screen and (min-width: 768px) {
    .table-row {
      display: flex; } }
  @media screen and (min-width: 768px) {
    .table-row .section__subtitle {
      width: 30%; } }
  @media screen and (min-width: 1700px) {
    .table-row .section__subtitle {
      max-width: 375px; } }
  @media screen and (max-width: 767px) {
    .table-row .table-row__right {
      padding: 0 0 4vh; } }
  @media screen and (min-width: 768px) {
    .table-row .table-row__right {
      border-left: 1px solid #e1dfdf;
      padding: calc(2.5vh + var(--mg)) 0 5vh 2.5vw;
      width: 70%; } }

@media screen and (min-width: 768px) {
  .table-row_grey .table-row__right {
    padding: 5vh 0 5vh 5vw; } }
.table-row_grey IMG {
  border: 4px solid #383535;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
  margin: 2vh 0;
  max-width: 100%; }

/* Aside */
@media screen and (min-width: 768px) {
  .section_aside .container {
    display: flex;
    align-items: start; } }

@media screen and (max-width: 767px) {
  ASIDE {
    display: none; } }
@media screen and (min-width: 768px) {
  ASIDE {
    margin-left: auto;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: calc(var(--header-height) + 1vh);
    width: 30%; } }

@media screen and (min-width: 768px) {
  .feed {
    padding-left: 4vw; } }
@media screen and (min-width: 1700px) {
  .feed {
    padding-left: 9vw; } }
.feed .feed__item {
  display: block;
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-weight: 800;
  line-height: 1.45;
  padding: 1vh 0; }
  @media screen and (max-width: 991px) {
    .feed .feed__item {
      font-size: 1rem; } }
  @media screen and (min-width: 992px) {
    .feed .feed__item {
      font-size: 0.9rem; } }
  .feed .feed__item:not(.active) {
    color: #29a2ff; }
  .feed .feed__item:hover {
    color: #151731; }
  .feed .feed__item.active {
    color: #151731;
    pointer-events: none; }

.sticky ASIDE {
  top: var(--header-height-sticky); }
@media screen and (min-width: 768px) {
  .sticky + main TABLE TH {
    top: var(--header-height-sticky); } }

/* Intenal Career Page */
@media screen and (max-width: 575px) {
  .section_career {
    margin-top: 5vh; } }
@media screen and (min-width: 576px) {
  .section_career {
    margin-top: 10vh; } }
@media screen and (min-width: 1200px) {
  .section_career {
    margin-bottom: 10vh; } }
@media screen and (min-width: 1700px) {
  .section_career {
    margin-bottom: 28vh; } }

@media screen and (min-width: 768px) {
  .career {
    border-right: 1px solid #e1dfdf; } }

.career__top-content {
  border-bottom: 1px solid #e1dfdf;
  display: flex;
  flex-direction: column;
  position: relative; }
  @media screen and (max-width: 575px) {
    .career__top-content {
      padding-bottom: 2vh; } }
  @media screen and (min-width: 576px) {
    .career__top-content {
      padding-bottom: 4.75vh; } }
  @media screen and (min-width: 768px) {
    .career__top-content {
      padding-right: 10px; } }
  .career__top-content .section__title {
    margin-bottom: 0; }
    @media screen and (max-width: 767px) {
      .career__top-content .section__title {
        padding-right: 0; } }
    .career__top-content .section__title SPAN {
      font-family: "Work Sans", "Arial", sans-serif;
      margin: 0;
      padding: 0;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      font-size: clamp(26px, calc(12px + 3vw), 40px);
      font-weight: 800;
      line-height: 1.2;
      display: block; }
  .career__top-content .section__subtitle {
    font-family: "Work Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    font-size: clamp(26px, calc(12px + 3vw), 40px);
    font-weight: 800;
    line-height: 1.2;
    order: -1; }
  .career__top-content .section__slogan {
    padding-top: 1.8vh; }

@media screen and (min-width: 768px) {
  .career__content {
    padding-right: var(--lg); } }
.career__content .tag {
  padding: 0; }
  @media screen and (max-width: 575px) {
    .career__content .tag {
      margin: 2vh 0 6vh; } }
  @media screen and (min-width: 576px) {
    .career__content .tag {
      margin: 5vh 0 5.5vh; } }

.career__blue-content {
  background-color: #29a2ff;
  color: #fff;
  position: relative; }
  .career__blue-content:before {
    content: '';
    background-color: #29a2ff;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100vw;
    left: -100vw; }
  .career__blue-content .section__subtitle {
    font-family: "Work Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    font-size: clamp(32px, calc(13px + 5vw), 72px);
    font-weight: 700;
    margin: 0;
    padding: 0; }
    @media screen and (max-width: 991px) {
      .career__blue-content .section__subtitle {
        line-height: 1.1; } }
    @media screen and (min-width: 992px) {
      .career__blue-content .section__subtitle {
        line-height: 1.195; } }
  @media screen and (max-width: 1199px) {
    .career__blue-content {
      padding: 4vh var(--lg) 4.5vh 0; }
      .career__blue-content .section__subtitle-middle {
        margin-top: var(--lg); } }
  @media screen and (max-width: 767px) {
    .career__blue-content {
      margin-top: 5vh; } }
  @media screen and (min-width: 768px) {
    .career__blue-content {
      margin-top: 9.5vh; } }
  @media screen and (min-width: 1200px) {
    .career__blue-content {
      display: flex;
      align-items: center;
      padding: 5vh 0; }
      .career__blue-content .section__subtitle-middle {
        margin: 0 6vw; } }
  @media screen and (min-width: 1700px) {
    .career__blue-content .section__subtitle-middle {
      margin: 0 6vw 0 10vw; } }

.hot {
  background-color: #ff971d;
  color: #fff;
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.45;
  text-transform: uppercase;
  white-space: nowrap;
  height: fit-content;
  max-width: fit-content; }
  @media screen and (max-width: 991px) {
    .hot {
      font-size: 1rem; } }
  @media screen and (min-width: 992px) {
    .hot {
      font-size: 0.9rem; } }
  @media screen and (max-width: 1399px) {
    .hot {
      padding: 5px 10px; } }
  @media screen and (min-width: 1400px) {
    .hot {
      padding: 10px 19px; } }
  @media screen and (min-width: 576px) {
    .hot {
      position: absolute;
      top: 0;
      right: 0; } }
  @media screen and (min-width: 1400px) {
    .hot {
      right: 2.5vw; } }

/*
Bottom form section
*/
.section_form {
  /* Block with a floating background image to left of content */
  /* Custom CSS only bottom form */ }
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
    .section_form .container {
      display: grid;
      grid-template-columns: 330px 1fr 1fr;
      grid-template-areas: "head form form"; }
      .section_form .container .section__title, .section_form .container .section__img-outer + * {
        grid-area: form; } }
  .section_form .section__title {
    padding-bottom: 0; }
    @media screen and (min-width: 1200px) {
      .section_form .section__title {
        padding-left: 2.5vw;
        transition: none; } }
    @media screen and (min-width: 1400px) {
      .section_form .section__title {
        margin-left: 407px; } }
  @media screen and (min-width: 1400px) {
    .section_form .container + .container {
      display: grid;
      grid-template-columns: 407px 1fr; } }
  @media screen and (max-width: 1199px) {
    .section_form .section__img-outer {
      display: none; } }
  @media screen and (min-width: 1200px) {
    .section_form .section__img-outer {
      position: relative; } }
  @media screen and (min-width: 1200px) {
    .section_form .section__img-outer IMG {
      display: block;
      max-height: calc(100% + 20vh);
      max-width: 568px;
      position: absolute;
      right: 0;
      object-fit: cover;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); } }
  @media screen and (min-width: 1700px) {
    .section_form .section__img-outer IMG {
      max-height: calc(100% + 17vh); } }
  .section_form .container:first-child {
    position: relative;
    z-index: 1; }
  @media screen and (max-width: 1199px) {
    .section_form .section__title {
      margin-bottom: 0; } }
  @media screen and (min-width: 768px) {
    .section_form .section__title {
      margin-bottom: -0.25em; } }
  @media screen and (min-width: 1700px) {
    .section_form .section__title {
      padding-left: 6vw; } }
  .section_form .section__img-outer IMG {
    bottom: 0; }
  @media screen and (max-width: 767px) {
    .section_form .form {
      margin-bottom: 3vh; } }
  @media screen and (min-width: 768px) {
    .section_form .form {
      border-bottom: 10vh solid #f4f4f5;
      position: relative; }
      .section_form .form:after {
        content: '';
        background-color: #f4f4f5;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100vw;
        border-bottom: 10vh solid #f4f4f5;
        right: -100vw; } }
  @media screen and (min-width: 768px) {
    .section_form .btn_right {
      min-width: calc(50% - 2.5vw);
      padding-left: 2vw;
      padding-right: 2vw; } }
  @media screen and (min-width: 1200px) {
    .section_form .btn_right {
      min-width: 44%; } }
  @media screen and (min-width: 1700px) {
    .section_form .btn_right {
      min-width: 380px; } }
