/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
 # Fonts
 # Variables
 # Animation
 # General layout
 # Header elements
 # Footer elements
 # Form elements
 # Buttons
 # Icons
--------------------------------------------------------------*/
/*
Fonts
*/
@font-face {
  font-family: 'OpenSans Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("/fonts/OpenSans-Regular.woff2") format("woff2"), url("/fonts/OpenSans-Regular.woff") format("woff");
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'WorkSans Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("/fonts/WorkSans-Medium.woff2") format("woff2"), url("/fonts/WorkSans-Medium.woff") format("woff");
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'WorkSans Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("/fonts/WorkSans-Bold.woff2") format("woff2"), url("/fonts/WorkSans-Bold.woff") format("woff");
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'WorkSans ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url("/fonts/WorkSans-ExtraBold.woff2") format("woff2"), url("/fonts/WorkSans-ExtraBold.woff") format("woff");
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("/fonts/clutch/Roboto-Light.woff2") format("woff2"), url("/fonts/clutch/Roboto-Light.woff") format("woff");
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("/fonts/clutch/Roboto-Regular.woff2") format("woff2"), url("/fonts/clutch/Roboto-Regular.woff") format("woff");
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("/fonts/clutch/Roboto-Medium.woff2") format("woff2"), url("/fonts/clutch/Roboto-Medium.woff") format("woff");
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("/fonts/clutch/Roboto-Bold.woff2") format("woff2"), url("/fonts/clutch/Roboto-Bold.woff") format("woff");
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url("/fonts/clutch/Roboto-Black.woff2") format("woff2"), url("/fonts/clutch/Roboto-Black.woff") format("woff");
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("/fonts/clutch/Lato-Regular.woff2") format("woff2"), url("/fonts/clutch/Lato-Regular.woff") format("woff");
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'Lato Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("/fonts/clutch/Lato-Bold.woff2") format("woff2"), url("/fonts/clutch/Lato-Bold.woff") format("woff");
  text-rendering: optimizeLegibility; }
/*
CSS root variables media
*/
@media screen and (max-width: 1199px) {
  :root {
    --bdrs: 3px;
    --sm: 5px;
    --md: 12px;
    --lg: 16px;
    --xl: 35px;
    --header-height: 99px; } }
@media screen and (min-width: 1200px) {
  :root {
    --bdrs: 5px;
    --sm: 8px;
    --md: 15px;
    --lg: 32px;
    --xl: 55px; } }
@media screen and (max-width: 767px) {
  :root {
    --header-height: 48px;
    --header-height-sticky: calc(var(--header-height) - 10px); } }
@media screen and (min-width: 768px) {
  :root {
    --header-height: 59px;
    --header-height-sticky: calc(var(--header-height) - 12px); } }
@media screen and (min-width: 1200px) {
  :root {
    --header-height: 96px;
    --header-height-sticky: calc(var(--header-height) - 40px); } }
@media screen and (max-width: 991px) {
  :root {
    --font-size-base: 16px; } }
@media screen and (min-width: 992px) {
  :root {
    --font-size-base: 20px; } }
/*
Animation
*/
@-webkit-keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(-50px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(-50px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fade {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }
@keyframes fade {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }
@-webkit-keyframes widthScale {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@keyframes widthScale {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@-webkit-keyframes animateTop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes animateTop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@-webkit-keyframes sectionTop {
  from {
    height: 0; }
  to {
    height: auto; } }
@keyframes sectionTop {
  from {
    height: 0; }
  to {
    height: auto; } }
@-webkit-keyframes spinLoad {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes spinLoad {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/*
General layout
*/
html {
  font-size: var(--font-size-base); }

body {
  background-color: #fff;
  color: #151731;
  font: 400 1rem/1.25 "Open Sans", "Arial", sans-serif; }

@font-face {
  font-display: swap; }
main[role="main"] {
  overflow: clip;
  position: relative; }

.container-fluid {
  position: relative; }
  .container-fluid:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1; }

.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: max-width 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: max-width 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: max-width 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: max-width 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  @media only screen and (max-width: 399px) {
    .container {
      padding: 0 16px;
      width: 100%; } }
  @media only screen and (max-width: 299px) {
    .container {
      padding: 0 8px; } }
  @media only screen and (min-width: 400px) {
    .container {
      max-width: calc(90% - 50px);
      width: 100%; } }
  @media screen and (min-width: 576px) {
    .container {
      max-width: calc(80% - 50px);
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .container {
      max-width: calc(100% - 12vw); } }
  @media screen and (min-width: 992px) {
    .container {
      max-width: calc(100% - 16vw); } }
  @media screen and (min-width: 1400px) {
    .container {
      max-width: 1270px; } }
  @media screen and (min-width: 1700px) {
    .container {
      max-width: 1602px; } }

H1,
H2,
H3,
H4,
H5,
H6 {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }

.title_1 {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-size: clamp(40px, calc(29px + 4vw), 96px);
  font-weight: 700;
  line-height: 1.01; }

.title_2 {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-size: clamp(32px, calc(13px + 5vw), 72px);
  font-weight: 700; }
  @media screen and (max-width: 991px) {
    .title_2 {
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    .title_2 {
      line-height: 1.195; } }

.title_3 {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-size: clamp(26px, calc(12px + 3vw), 40px);
  font-weight: 800;
  line-height: 1.2; }

.title_4 {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-weight: 800;
  line-height: 1.315; }
  @media screen and (max-width: 991px) {
    .title_4 {
      font-size: 1.5rem; } }
  @media screen and (min-width: 992px) {
    .title_4 {
      font-size: clamp(22px, calc(10px + 2vw), 32px); } }

.title_5 {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-weight: 800;
  line-height: 1.33; }
  @media screen and (max-width: 991px) {
    .title_5 {
      font-size: 1.2rem; } }
  @media screen and (min-width: 992px) {
    .title_5 {
      font-size: 1.2rem; } }

.title_6 {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-weight: 800;
  line-height: 1.45; }
  @media screen and (max-width: 991px) {
    .title_6 {
      font-size: 1rem; } }
  @media screen and (min-width: 992px) {
    .title_6 {
      font-size: 0.9rem; } }

UL,
OL {
  margin: 0;
  padding: 0; }

NAV UL {
  list-style: none; }

*::selection {
  background: #ff971d;
  color: #fff; }

A {
  color: #151731;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  A a:focus, A:active, A:hover {
    outline: none; }

P A:link, P A:visited {
  text-decoration: underline; }
P A:focus, P A:active, P A:hover {
  color: #29a2ff;
  text-decoration: none; }

BLOCKQUOTE {
  margin: 0; }

SUB, SUP {
  font-size: 88%; }

SUP {
  top: -0.1em; }

*:not(HR) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

HR {
  border: none;
  border-top: 1px solid #e1dfdf;
  height: 0;
  padding: 0; }

.nowrap {
  white-space: nowrap; }

.hidden,
.d-none {
  display: none; }

.blue {
  color: #29a2ff; }

.spacer {
  padding: 0 12px 0 10px; }

/*
Header elements
*/
header[role="banner"] {
  background-color: #fff;
  border-bottom: 1px solid #e1dfdf;
  display: flex;
  align-items: stretch;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 9;
  height: var(--header-height);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  /* Main navigation menu */ }
  header[role="banner"].sticky {
    height: var(--header-height-sticky); }
  header[role="banner"] .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  header[role="banner"] .logo-azati {
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -webkit-animation: slideTop 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
    animation: slideTop 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95) both; }
    @media screen and (max-width: 1199px) {
      header[role="banner"] .logo-azati {
        max-width: 99px; } }
    @media screen and (max-width: 767px) {
      header[role="banner"] .logo-azati {
        max-width: 59px; } }
    header[role="banner"] .logo-azati IMG {
      display: block;
      max-width: 100%;
      object-fit: contain;
      transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  header[role="banner"] a.logo-azati:hover IMG {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
  header[role="banner"] nav[role="navigation"] {
    -webkit-animation: slideTop 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
    animation: slideTop 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95) both; }
    @media screen and (min-width: 1200px) {
      header[role="banner"] nav[role="navigation"] {
        height: 100%; } }
    @media screen and (min-width: 1700px) {
      header[role="banner"] nav[role="navigation"] {
        padding-right: 7vw; } }
    header[role="banner"] nav[role="navigation"] UL {
      height: 100%; }
      @media screen and (max-width: 1199px) {
        header[role="banner"] nav[role="navigation"] UL {
          display: none; } }
      @media screen and (min-width: 1200px) {
        header[role="banner"] nav[role="navigation"] UL {
          display: flex;
          max-width: 1100px; } }
    header[role="banner"] nav[role="navigation"] li {
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      opacity: 0;
      -webkit-animation: fadeIn 0.15s ease-in forwards;
      animation: fadeIn 0.15s ease-in forwards; }
      @media screen and (min-width: 1200px) {
        header[role="banner"] nav[role="navigation"] li:not(:first-child):not(:last-child) {
          display: inline-block;
          padding: 0 1.88vw; }
        header[role="banner"] nav[role="navigation"] li:first-child {
          padding-right: 1.88vw; } }
      header[role="banner"] nav[role="navigation"] li:nth-child(2) {
        animation-delay: 0.1s; }
      header[role="banner"] nav[role="navigation"] li:nth-child(3) {
        animation-delay: 0.16s; }
      header[role="banner"] nav[role="navigation"] li:nth-child(4) {
        animation-delay: 0.21s; }
      header[role="banner"] nav[role="navigation"] li:nth-child(5) {
        animation-delay: 0.25s; }
      header[role="banner"] nav[role="navigation"] li:nth-child(6) {
        animation-delay: 0.28s; }
      header[role="banner"] nav[role="navigation"] li:nth-child(7) {
        animation-delay: 0.3s; }
      header[role="banner"] nav[role="navigation"] li:nth-child(8) {
        animation-delay: 0.31s; }
      header[role="banner"] nav[role="navigation"] li:nth-child(9) {
        animation-delay: 0.315s; }
      header[role="banner"] nav[role="navigation"] li:first-child .nav__item, header[role="banner"] nav[role="navigation"] li:nth-child(2) .nav__item, header[role="banner"] nav[role="navigation"] li:nth-child(3) .nav__item {
        letter-spacing: 0.02em; }
      header[role="banner"] nav[role="navigation"] li:nth-child(4) .nav__item {
        letter-spacing: 2.66486px; }
      header[role="banner"] nav[role="navigation"] li:nth-child(5) .nav__item, header[role="banner"] nav[role="navigation"] li:nth-child(6) .nav__item {
        letter-spacing: 2px; }
      @media screen and (min-width: 1200px) {
        header[role="banner"] nav[role="navigation"] li:last-child {
          padding-left: 1.88vw; }
          header[role="banner"] nav[role="navigation"] li:last-child a {
            color: #29a2ff; } }
      @media screen and (min-width: 1400px) {
        header[role="banner"] nav[role="navigation"] li:last-child {
          padding-left: 4vw; } }
      @media screen and (min-width: 1700px) {
        header[role="banner"] nav[role="navigation"] li:last-child {
          padding-left: 9vw; } }
      header[role="banner"] nav[role="navigation"] li .nav__item {
        color: #151731;
        font-family: "Work Sans", "Arial", sans-serif;
        font-weight: 500;
        position: relative;
        text-transform: uppercase;
        white-space: nowrap; }
        header[role="banner"] nav[role="navigation"] li .nav__item:after {
          content: '';
          background-color: #29a2ff;
          margin-right: auto;
          margin-left: auto;
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          width: 0; }
          @media screen and (max-width: 1199px) {
            header[role="banner"] nav[role="navigation"] li .nav__item:after {
              height: 3px; } }
          @media screen and (min-width: 1200px) {
            header[role="banner"] nav[role="navigation"] li .nav__item:after {
              height: 5px; } }
        header[role="banner"] nav[role="navigation"] li .nav__item:not(.active):hover:after {
          width: 100%;
          -webkit-animation: widthScale 0.25s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
          animation: widthScale 0.25s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
          animation-delay: .15s; }
        header[role="banner"] nav[role="navigation"] li .nav__item.active:after {
          width: 100%; }
        @media screen and (max-width: 1199px) {
          header[role="banner"] nav[role="navigation"] li .nav__item {
            display: block;
            margin-right: auto;
            margin-left: auto;
            max-width: fit-content;
            padding: 4vh 0 2vh; } }
        @media screen and (min-width: 1200px) {
          header[role="banner"] nav[role="navigation"] li .nav__item {
            font-size: 0.9rem;
            height: 100%;
            display: flex;
            align-items: center; } }
        header[role="banner"] nav[role="navigation"] li .nav__item:not(.nav__item_parent).active {
          pointer-events: none; }

@media screen and (max-width: 767px) {
  header[role="banner"].sticky #hamburger.open ~ nav[role="navigation"] {
    top: calc(var(--header-height) - 10px); } }
@media screen and (min-width: 768px) {
  header[role="banner"].sticky #hamburger.open ~ nav[role="navigation"] {
    top: calc(var(--header-height) - 12px); } }
@media screen and (min-width: 1200px) {
  header[role="banner"].sticky #hamburger.open ~ nav[role="navigation"] {
    top: calc(var(--header-height) - 40px); } }

#hamburger.open ~ nav[role="navigation"] {
  top: calc(var(--header-height) - 1px);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  @media screen and (max-width: 1199px) {
    #hamburger.open ~ nav[role="navigation"] {
      background-color: #fff;
      border-bottom: 1px solid #e1dfdf;
      position: fixed;
      right: 0;
      left: 0;
      z-index: 10;
      padding-bottom: 7vh; }
      #hamburger.open ~ nav[role="navigation"] UL {
        display: block; } }
  @media screen and (max-width: 767px) {
    #hamburger.open ~ nav[role="navigation"] {
      top: 47px; } }
  @media screen and (min-width: 768px) {
    #hamburger.open ~ nav[role="navigation"] {
      top: 58px; } }

/*
Hamburger
*/
@media screen and (max-width: 1199px) {
  #hamburger {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left: auto;
    position: relative;
    top: 3px;
    right: -10px;
    z-index: 11;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -webkit-animation: slideTop 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95) both;
    animation: slideTop 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95) both; } }
@media screen and (max-width: 374px) {
  #hamburger {
    right: 0; } }
@media screen and (min-width: 1200px) {
  #hamburger {
    display: none; } }
#hamburger span {
  background-color: #29a2ff;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  display: block;
  height: 2px;
  width: calc(100% - 20px);
  opacity: 1;
  position: absolute;
  left: 10px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  #hamburger span:nth-child(1) {
    top: 12px; }
  #hamburger span:nth-child(2), #hamburger span:nth-child(3) {
    top: 18px; }
  #hamburger span:nth-child(4) {
    top: 24px; }
#hamburger:hover span {
  background-color: #ff971d; }
  #hamburger:hover span:nth-child(4) {
    width: calc(86% - 20px); }
#hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%; }
#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }
#hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%; }

/*
Submenu
*/
/* Modal background */
.modal {
  background-color: #000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  display: none;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%; }

/* Modal content box */
.modal__content {
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
  animation-duration: 0.4s;
  -webkit-animation-name: animateTop;
  animation-name: animateTop; }

/* Modal close button */
.close {
  color: #151731;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  position: absolute;
  top: 0;
  height: 48px;
  width: 48px;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  @media only screen and (max-width: 399px) {
    .close {
      right: 0; } }
  @media only screen and (min-width: 400px) {
    .close {
      right: -14px; } }
  .close:hover, .close:focus {
    color: #ff971d;
    cursor: pointer;
    text-decoration: none; }

.modal_sub-nav .modal__content .container {
  height: 100%; }
@media screen and (max-width: 767px) {
  .modal_sub-nav NAV {
    margin-right: auto;
    margin-left: auto; } }
@media screen and (min-width: 768px) {
  .modal_sub-nav NAV {
    width: 100%; } }
@media screen and (min-width: 768px) {
  .modal_sub-nav UL {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; } }
.modal_sub-nav .modal__item {
  text-align: left; }
  @media screen and (max-width: 767px) {
    .modal_sub-nav .modal__item {
      padding: 24px 0; } }
  @media screen and (min-width: 768px) {
    .modal_sub-nav .modal__item {
      width: calc(33% - 5px); } }
  .modal_sub-nav .modal__item A {
    color: #151731;
    display: inline-block;
    font-weight: 700; }
    @media screen and (max-width: 1699px) {
      .modal_sub-nav .modal__item A {
        font-size: 1.25rem; } }
    @media screen and (min-width: 1700px) {
      .modal_sub-nav .modal__item A {
        font-size: 1.4rem; } }
    .modal_sub-nav .modal__item A:hover {
      color: #ff971d; }
  .modal_sub-nav .modal__item.active A {
    color: #ff971d;
    pointer-events: none; }
  .modal_sub-nav .modal__item SPAN {
    color: #e1dfdf; }
@media screen and (max-width: 767px) {
  .modal_sub-nav .spacer {
    display: none; } }
@media screen and (min-width: 768px) {
  .modal_sub-nav .spacer {
    background-color: #e1dfdf;
    margin: 5vh 0;
    height: 1px;
    width: 100%; } }

/*
Footer elements
*/
footer[role="contentinfo"] {
  border-top: 1px solid #e1dfdf;
  overflow-x: hidden; }
  footer[role="contentinfo"] .container {
    display: grid;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
    @media screen and (max-width: 767px) {
      footer[role="contentinfo"] .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "head" "col1" "col2"; } }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      footer[role="contentinfo"] .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "head head" "col1 col2"; } }
    @media screen and (min-width: 1200px) {
      footer[role="contentinfo"] .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "head col1 col2"; } }
    @media screen and (min-width: 1400px) {
      footer[role="contentinfo"] .container {
        grid-template-columns: 383px 1fr 1fr; } }
  footer[role="contentinfo"] A {
    color: #29a2ff; }
    footer[role="contentinfo"] A:hover {
      color: #151731; }
  footer[role="contentinfo"] .btn, footer[role="contentinfo"] .btn-icon, footer[role="contentinfo"] .btn-arrow, footer[role="contentinfo"] .icon-filter, footer[role="contentinfo"] .btn-more {
    max-width: 100%; }
    @media screen and (max-width: 991px) {
      footer[role="contentinfo"] .btn, footer[role="contentinfo"] .btn-icon, footer[role="contentinfo"] .btn-arrow, footer[role="contentinfo"] .icon-filter, footer[role="contentinfo"] .btn-more {
        margin-top: 1vh; } }
    @media screen and (min-width: 992px) {
      footer[role="contentinfo"] .btn, footer[role="contentinfo"] .btn-icon, footer[role="contentinfo"] .btn-arrow, footer[role="contentinfo"] .icon-filter, footer[role="contentinfo"] .btn-more {
        margin-top: 3.5vh; } }

.footer__title {
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  font-size: clamp(32px, calc(13px + 5vw), 72px);
  font-weight: 700;
  grid-area: head;
  transition: padding 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  @media screen and (max-width: 991px) {
    .footer__title {
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    .footer__title {
      line-height: 1.195; } }
  @media screen and (max-width: 1199px) {
    .footer__title {
      border-bottom: 1px solid #e1dfdf;
      padding: 7vh 0 8vh;
      position: relative; }
      .footer__title:before, .footer__title:after {
        content: '';
        background-color: #e1dfdf;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: -1px; }
      .footer__title:before {
        left: -100%; }
      .footer__title:after {
        right: -100%; } }
  @media screen and (max-width: 767px) {
    .footer__title {
      margin-left: -1px;
      padding: 3vh 0 3.5vh; } }
  @media screen and (min-width: 1200px) {
    .footer__title {
      padding-top: 14vh; } }
  @media screen and (min-width: 1400px) {
    .footer__title {
      max-width: 6em; } }

.footer__subtitle {
  display: inline-block;
  letter-spacing: 1px;
  line-height: 1.2;
  position: relative;
  text-transform: uppercase; }
  @media screen and (max-width: 991px) {
    .footer__subtitle {
      font-size: 1.25rem;
      margin-bottom: 16px; } }
  @media screen and (min-width: 992px) {
    .footer__subtitle {
      font-size: inherit;
      margin-bottom: 19px; } }
  .footer__subtitle:after {
    content: '';
    background-color: #e1dfdf;
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
    left: 0; }
    @media screen and (max-width: 991px) {
      .footer__subtitle:after {
        bottom: -9px;
        width: 43px; } }
    @media screen and (min-width: 992px) {
      .footer__subtitle:after {
        bottom: -11px;
        width: 66%; } }
  .footer__subtitle A {
    font-weight: initial;
    font-family: "Open Sans", "Arial", sans-serif;
    letter-spacing: initial;
    text-transform: initial; }

.footer__col:not(:last-child) {
  grid-area: col1; }
.footer__col:last-child {
  grid-area: col2; }
  @media screen and (max-width: 767px) {
    .footer__col:last-child {
      border-top: 1px solid #e1dfdf;
      position: relative; }
      .footer__col:last-child:before, .footer__col:last-child:after {
        content: '';
        background-color: #e1dfdf;
        height: 1px;
        width: 100%;
        position: absolute;
        top: -1px; }
      .footer__col:last-child:before {
        left: -100%; }
      .footer__col:last-child:after {
        right: -100%; } }
  @media screen and (min-width: 768px) {
    .footer__col:last-child {
      border-left: 1px solid #e1dfdf;
      padding-left: 2vw; } }
@media screen and (max-width: 767px) {
  .footer__col {
    padding: 4.5vh 1px 4.6vh; } }
@media screen and (max-width: 575px) {
  .footer__col {
    padding-right: 0;
    padding-left: 0; } }
@media screen and (min-width: 768px) {
  .footer__col {
    padding-top: 7vh;
    padding-right: 2vw;
    padding-bottom: 8vh; } }
@media screen and (min-width: 1200px) {
  .footer__col {
    border-left: 1px solid #e1dfdf;
    padding: 14vh 2vw 10vh; } }

.footer__address {
  font-style: normal;
  max-width: 19em;
  padding-bottom: 2.8vh; }
  @media screen and (max-width: 991px) {
    .footer__address {
      line-height: 26px; } }
  @media screen and (min-width: 992px) {
    .footer__address {
      line-height: 32px; } }
  .footer__address SPAN {
    padding-top: 1px;
    padding-bottom: 2px; }

@media only screen and (min-width: 440px) {
  .footer__nav {
    display: inline-flex; } }
.footer__nav li {
  white-space: nowrap; }
  @media only screen and (max-width: 439px) {
    .footer__nav li A {
      display: inline-block;
      padding: 9px 0; } }
  @media only screen and (min-width: 440px) {
    .footer__nav li:not(:last-child):after {
      content: " | ";
      color: #151731;
      padding: 0 4px 0 1px; } }
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
    .footer__nav li {
      font-size: 0.687rem; } }

.footer__copy {
  border-top: 1px solid #e1dfdf;
  line-height: 1.8;
  margin: 0;
  text-align: center; }
  @media screen and (max-width: 991px) {
    .footer__copy {
      font-size: 0.938rem; } }
  @media screen and (max-width: 767px) {
    .footer__copy {
      padding: 2vh 0; } }
  @media screen and (min-width: 768px) {
    .footer__copy {
      padding: 4.25vh 0; } }
  @media screen and (min-width: 992px) {
    .footer__copy {
      font-size: 0.8rem; } }

/*
Form elements
*/
.form {
  background-color: #fff; }
  @media screen and (max-width: 1699px) {
    .form {
      padding-bottom: 5vh; } }
  @media screen and (min-width: 768px) {
    .form {
      padding-top: 3.5vh; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .form {
      padding-right: 5vw;
      padding-left: 5vw; } }
  @media screen and (min-width: 1200px) {
    .form {
      padding-right: 2.5vw;
      padding-left: 2.5vw; } }
  @media screen and (min-width: 1700px) {
    .form {
      padding-right: 7vw;
      padding-bottom: 10vh;
      padding-left: 6vw; } }

FIELDSET,
.form__group {
  border: 0;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  top: auto;
  left: auto; }

.form__group_reverse {
  flex-direction: column-reverse; }

@media screen and (max-width: 575px) {
  .form__group_half-outer {
    display: inline-block; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form__group_half-outer {
    display: inline-block; } }

.form__group_half {
  display: flex; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .form__group_half {
      width: calc(50% - 3px); } }
  @media screen and (min-width: 1200px) {
    .form__group_half {
      width: calc(50% - 3px); } }

.form__group_select {
  position: relative;
  z-index: 2; }
  .form__group_select .form__control, .form__group_select TEXTAREA {
    background: url("../img/icons/i-arrow-min.svg") 95% 50% no-repeat; }

.form__control, TEXTAREA {
  background-color: #fff;
  border: 0 none;
  border-bottom: 1px solid #e1dfdf;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  outline: none;
  padding: 1.03rem 1rem .55rem 9px;
  width: 100%;
  transition: all 0.25s ease; }
  .form__control:hover, TEXTAREA:hover, .form__control:focus, TEXTAREA:focus {
    border-bottom-color: #aeafbc;
    color: #000; }
  .form__control:focus, TEXTAREA:focus {
    outline: none; }
  .form__control:focus + label, TEXTAREA:focus + label, .form__control:not(:placeholder-shown) + label, TEXTAREA:not(:placeholder-shown) + label, .form__control:-webkit-autofill + label, TEXTAREA:-webkit-autofill + label {
    opacity: .25;
    padding-left: 14px;
    -webkit-transform: translateY(1.15rem) scale(0.7);
    -ms-transform: translateY(1.15rem) scale(0.7);
    transform: translateY(1.15rem) scale(0.7); }

TEXTAREA {
  line-height: 1.25;
  overflow: auto;
  resize: none; }

LABEL:not(.form__checkbox),
.form__label {
  cursor: text;
  opacity: .4;
  padding-left: 8px;
  pointer-events: none;
  transform-origin: left top;
  -webkit-transform: translateY(2.3rem);
  -ms-transform: translateY(2.3rem);
  transform: translateY(2.3rem);
  -webkit-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95); }

/* Checkbox */
.form__group_checkbox {
  padding: 1.55rem 0 1.55rem; }

label.form__checkbox {
  margin: -3px 0 3px; }

INPUT[type="checkbox"] {
  border: 1px solid #e1dfdf;
  cursor: pointer;
  height: 30px;
  margin: 0 10px 0 1px;
  width: 30px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95); }

INPUT[type="checkbox"]:checked {
  border: 1px solid #bcbcbc; }

INPUT[type="checkbox"]:checked:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 5px;
  width: 7px;
  height: 12px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.form__checkbox-txt {
  font-size: 0.8rem; }
  .form__checkbox-txt A:link, .form__checkbox-txt A:visited {
    text-decoration: underline; }
  .form__checkbox-txt A:focus, .form__checkbox-txt A:active, .form__checkbox-txt A:hover {
    color: #29a2ff;
    text-decoration: none; }

/* Select */
/* The container must be positioned relative: */
.custom-select {
  margin-top: 17px;
  position: relative; }
  .custom-select .form__label {
    color: #e1dfdf;
    padding-left: 1.5rem;
    -webkit-transform: translateY(-2.55rem) scale(0.7);
    -ms-transform: translateY(-2.55rem) scale(0.7);
    transform: translateY(-2.55rem) scale(0.7); }

.custom-select SELECT {
  display: none;
  /*hide original SELECT element: */ }

.select-selected {
  border: 1px solid #e1dfdf;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #aeafbc;
  cursor: pointer;
  display: block;
  font-family: "Work Sans", "Arial", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  outline: none;
  padding: 1.55rem 1rem .45rem;
  position: relative;
  z-index: 1;
  width: 100%; }
  .select-selected:focus {
    border: 1px solid #d0d0d0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #000;
    outline: none; }

.select-selected.select-arrow-active {
  border: 1px solid #bcbcbc; }

/* Style the arrow inside the select element: */
.select-selected:after {
  content: "";
  background: url("../img/icons/i-arrow-min.svg") 50% no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 11px;
  height: 11px; }

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

/* Style items (options): */
.select-items {
  background-color: #fff;
  border: 1px solid #bcbcbc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 10rem;
  overflow-y: auto;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%; }

/* style the items (options), including the selected item: */
.select-items div {
  background-color: #fff;
  cursor: pointer;
  font-family: "Work Sans", "Arial", sans-serif;
  font-size: 0.875rem;
  padding: 1vh 1rem;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  .select-items div:first-child {
    padding-top: 1.5vh; }
  .select-items div:last-child {
    padding-bottom: 1.5vh; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  background-color: #e1dfdf;
  color: #000; }

/*
Buttons
*/
.btn:not(.btn_empty):not(.btn-arrow.btn-arrow_prev):not(.icon-filter):hover, .btn-icon:not(.btn_empty):not(.btn-arrow.btn-arrow_prev):not(.icon-filter):hover, .btn-arrow:not(.btn_empty):not(.btn-arrow.btn-arrow_prev):not(.icon-filter):hover, .icon-filter:not(.btn_empty):not(.btn-arrow.btn-arrow_prev):not(.icon-filter):hover, .btn-more:not(.btn_empty):not(.btn-arrow.btn-arrow_prev):not(.icon-filter):hover, .btn.btn_empty:hover, .btn_empty.btn-icon:hover, .btn_empty.btn-arrow:hover, .btn-arrow.btn-arrow_prev:hover, .btn-arrow.icon-filter:hover, .icon-filter:hover, .btn_empty.btn-more:hover, .btn-more.icon-filter:hover, .btn.icon-filter:hover, .icon-filter.btn-icon:hover {
  background-color: #151731;
  border: 1px solid #151731;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ff971d;
  text-decoration: none; }

.btn, .btn-icon, .btn-arrow, .icon-filter, .btn-more {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.24;
  outline: none;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  @media screen and (max-width: 374px) {
    .btn, .btn-icon, .btn-arrow, .icon-filter, .btn-more {
      width: 100%; } }
  @media screen and (min-width: 375px) {
    .btn, .btn-icon, .btn-arrow, .icon-filter, .btn-more {
      min-width: 240px; } }
  @media only screen and (min-width: 300px) {
    .btn, .btn-icon, .btn-arrow, .icon-filter, .btn-more {
      white-space: nowrap; } }
  @media screen and (max-width: 991px) {
    .btn:not(.btn_small), .btn-icon:not(.btn_small), .btn-arrow:not(.btn_small), .icon-filter:not(.btn_small), .btn-more:not(.btn_small) {
      font-size: 1.25rem; } }
  @media screen and (max-width: 1023px) {
    .btn:not(.btn_small), .btn-icon:not(.btn_small), .btn-arrow:not(.btn_small), .icon-filter:not(.btn_small), .btn-more:not(.btn_small) {
      font-size: inherit;
      min-height: 48px; } }
  @media screen and (min-width: 1024px) {
    .btn:not(.btn_small), .btn-icon:not(.btn_small), .btn-arrow:not(.btn_small), .icon-filter:not(.btn_small), .btn-more:not(.btn_small) {
      min-height: 68px; } }
  .btn.btn_small, .btn_small.btn-icon, .btn_small.btn-arrow, .btn_small.icon-filter, .btn_small.btn-more {
    font-size: 0.8rem;
    min-height: 48px; }
  .btn:not(.btn_empty):not(.btn-arrow.btn-arrow_prev):not(.icon-filter), .btn-icon:not(.btn_empty):not(.btn-arrow.btn-arrow_prev):not(.icon-filter), .btn-arrow:not(.btn_empty):not(.btn-arrow.btn-arrow_prev):not(.icon-filter), .icon-filter:not(.btn_empty):not(.btn-arrow.btn-arrow_prev):not(.icon-filter), .btn-more:not(.btn_empty):not(.btn-arrow.btn-arrow_prev):not(.icon-filter) {
    background-color: #29a2ff;
    border: 1px solid #29a2ff;
    color: #fff; }
    .btn:not(.btn_empty):not(.btn-arrow.btn-arrow_prev):not(.icon-filter):disabled, .btn-icon:not(.btn_empty):not(.btn-arrow.btn-arrow_prev):not(.icon-filter):disabled, .btn-arrow:not(.btn_empty):not(.btn-arrow.btn-arrow_prev):not(.icon-filter):disabled, .icon-filter:not(.btn_empty):not(.btn-arrow.btn-arrow_prev):not(.icon-filter):disabled, .btn-more:not(.btn_empty):not(.btn-arrow.btn-arrow_prev):not(.icon-filter):disabled {
      color: #94d0ff; }
  .btn.btn_empty, .btn_empty.btn-icon, .btn_empty.btn-arrow, .btn-arrow.btn-arrow_prev, .icon-filter, .btn_empty.btn-more {
    background-color: #fff;
    border: 1px solid #e1dfdf;
    color: #151731; }
    .btn.btn_empty:disabled, .btn_empty.btn-icon:disabled, .btn_empty.btn-arrow:disabled, .btn-arrow.btn-arrow_prev:disabled, .icon-filter:disabled, .btn_empty.btn-more:disabled {
      color: #94d0ff; }
  .btn.btn_right, .btn_right.btn-icon, .btn_right.btn-arrow, .btn_right.icon-filter, .btn_right.btn-more {
    margin-top: -1px; }
    @media screen and (max-width: 767px) {
      .btn.btn_right, .btn_right.btn-icon, .btn_right.btn-arrow, .btn_right.icon-filter, .btn_right.btn-more {
        width: 100%; } }
    @media screen and (min-width: 768px) {
      .btn.btn_right, .btn_right.btn-icon, .btn_right.btn-arrow, .btn_right.icon-filter, .btn_right.btn-more {
        float: right;
        margin-left: auto;
        max-width: max-content; } }
  .btn:focus, .btn-icon:focus, .btn-arrow:focus, .icon-filter:focus, .btn-more:focus {
    outline: 3px solid #97d2ff; }
  .btn.disabled, .disabled.btn-icon, .disabled.btn-arrow, .disabled.icon-filter, .disabled.btn-more, .btn:disabled, .btn-icon:disabled, .btn-arrow:disabled, .icon-filter:disabled, .btn-more:disabled {
    user-select: none;
    pointer-events: none; }

/* Button without text, only icon */
.btn-icon, .btn-arrow, .icon-filter {
  background-position: 50%;
  min-height: auto;
  min-width: auto; }

/* Button without text, only arrow */
.btn-arrow {
  background-repeat: no-repeat;
  -webkit-background-size: 50%;
  background-size: 50%;
  user-select: none; }
  @media screen and (max-width: 1023px) {
    .btn-arrow {
      width: 48px; } }
  @media screen and (min-width: 1024px) {
    .btn-arrow {
      width: 68px; } }
  .btn-arrow.btn-arrow_prev {
    background-image: url("../img/icons/i-arrow-min.svg");
    background-color: transparent;
    border: 1px solid #e1dfdf;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .btn-arrow.btn-arrow_next {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1IDE2IiB2aWV3Qm94PSIwIDAgMjUgMTYiPjxwYXRoIGQ9Ik0xNi4yIDIuMWMtLjQtLjQtLjQtMS4xIDAtMS42LjQtLjQgMS4xLS40IDEuNiAwbDYuNyA2LjdjLjQuNC40IDEuMSAwIDEuNmwtNi43IDYuN2MtLjQuNC0xLjEuNC0xLjYgMC0uNC0uNC0uNC0xLjEgMC0xLjZMMjEgOS4xSDEuNEMuOCA5LjEuMyA4LjYuMyA4cy41LTEuMSAxLjEtMS4xaDE5LjVsLTQuNy00Ljh6IiBzdHlsZT0iZmlsbDojZmZmIi8+PC9zdmc+"); }
  .btn-arrow:hover {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1IDE2IiB2aWV3Qm94PSIwIDAgMjUgMTYiPjxwYXRoIGQ9Ik0xNi4yIDIuMWMtLjQtLjQtLjQtMS4xIDAtMS42LjQtLjQgMS4xLS40IDEuNiAwbDYuNyA2LjdjLjQuNC40IDEuMSAwIDEuNmwtNi43IDYuN2MtLjQuNC0xLjEuNC0xLjYgMC0uNC0uNC0uNC0xLjEgMC0xLjZMMjEgOS4xSDEuNEMuOCA5LjEuMyA4LjYuMyA4cy41LTEuMSAxLjEtMS4xaDE5LjVsLTQuNy00Ljh6IiBzdHlsZT0iZmlsbDojZmY5NzFkIi8+PC9zdmc+"); }

/* Button with text and arrow */
.btn-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20vw; }
  .btn-more span {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1IDE2IiB2aWV3Qm94PSIwIDAgMjUgMTYiPjxwYXRoIGQ9Ik0xNi4yIDIuMWMtLjQtLjQtLjQtMS4xIDAtMS42LjQtLjQgMS4xLS40IDEuNiAwbDYuNyA2LjdjLjQuNC40IDEuMSAwIDEuNmwtNi43IDYuN2MtLjQuNC0xLjEuNC0xLjYgMC0uNC0uNC0uNC0xLjEgMC0xLjZMMjEgOS4xSDEuNEMuOCA5LjEuMyA4LjYuMyA4cy41LTEuMSAxLjEtMS4xaDE5LjVsLTQuNy00Ljh6IiBzdHlsZT0iZmlsbDojZmZmIi8+PC9zdmc+");
    margin-left: calc(var(--md) + 2px);
    width: 25px;
    height: 16px;
    transition: all 0.15s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
  .btn-more:hover span {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1IDE2IiB2aWV3Qm94PSIwIDAgMjUgMTYiPjxwYXRoIGQ9Ik0xNi4yIDIuMWMtLjQtLjQtLjQtMS4xIDAtMS42LjQtLjQgMS4xLS40IDEuNiAwbDYuNyA2LjdjLjQuNC40IDEuMSAwIDEuNmwtNi43IDYuN2MtLjQuNC0xLjEuNC0xLjYgMC0uNC0uNC0uNC0xLjEgMC0xLjZMMjEgOS4xSDEuNEMuOCA5LjEuMyA4LjYuMyA4cy41LTEuMSAxLjEtMS4xaDE5LjVsLTQuNy00Ljh6IiBzdHlsZT0iZmlsbDojZmY5NzFkIi8+PC9zdmc+");
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px); }

.icon-email, .icon-telegram, .icon-linkedin, .icon-filter {
  background-repeat: no-repeat;
  display: block; }

.icon-email, .icon-telegram, .icon-linkedin {
  background-position: 0 50%;
  padding-left: 25px; }

.icon-email {
  background-image: url("../img/icons/i-email-min.svg");
  -webkit-background-size: 14px 12px;
  background-size: 14px 12px; }

.icon-telegram {
  background-image: url("../img/icons/i-telegram-min.svg");
  -webkit-background-size: 16px 14px;
  background-size: 16px 14px; }

.icon-linkedin {
  background-image: url("../img/icons/i-linkedin-min.svg");
  -webkit-background-size: 15px 14px;
  background-size: 15px 14px; }

.icon-filter {
  background-image: url("../img/icons/i-filter-min.svg");
  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
  min-height: auto; }
  .icon-filter:hover {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgY2xpcC1wYXRoPSJ1cmwoI2EpIj48cGF0aCBkPSJNMyA0aDdNMTQgNGg3TTMgMTJoOU0xNiAxMmg1TTMgMjBoNU0xMiAyMGg5TTEwIDF2Nk0xNiA5djZNOCAxN3Y2Ii8+PC9nPjxkZWZzPjxjbGlwUGF0aCBpZD0iYSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTI0IDB2MjRIMFYweiIvPjwvY2xpcFBhdGg+PC9kZWZzPjwvc3ZnPg=="); }
  .icon-filter.active {
    background-color: #29a2ff;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgY2xpcC1wYXRoPSJ1cmwoI2EpIj48cGF0aCBkPSJNMyA0aDdNMTQgNGg3TTMgMTJoOU0xNiAxMmg1TTMgMjBoNU0xMiAyMGg5TTEwIDF2Nk0xNiA5djZNOCAxN3Y2Ii8+PC9nPjxkZWZzPjxjbGlwUGF0aCBpZD0iYSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTI0IDB2MjRIMFYweiIvPjwvY2xpcFBhdGg+PC9kZWZzPjwvc3ZnPg==");
    border: 0 none; }
    .icon-filter.active:hover {
      border: 0 none;
      background-color: #151731;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PGcgc3Ryb2tlPSIjZmY5NzFkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgY2xpcC1wYXRoPSJ1cmwoI2EpIj48cGF0aCBkPSJNMyA0aDdNMTQgNGg3TTMgMTJoOU0xNiAxMmg1TTMgMjBoNU0xMiAyMGg5TTEwIDF2Nk0xNiA5djZNOCAxN3Y2Ii8+PC9nPjxkZWZzPjxjbGlwUGF0aCBpZD0iYSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTI0IDB2MjRIMFYweiIvPjwvY2xpcFBhdGg+PC9kZWZzPjwvc3ZnPg=="); }
  @media screen and (max-width: 1399px) {
    .icon-filter {
      width: 68px; } }
  @media screen and (min-width: 1400px) {
    .icon-filter {
      width: 104px; } }
