/*
Buttons
*/

%hover {
  background-color: $color-blue-dark;
  border: 1px solid $color-blue-dark;
  @include box-shadow(none);
  color: $color-orange;
  text-decoration: none;
}

//button,
//[role=button],
.btn {
  @include b-radius(0);
  @include box-sizing;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family-accent;
  font-weight: $font-weight-500;
  letter-spacing: 1px;
  line-height: 1.24; //24px
  outline: none;
  //max-width: fit-content;
  //max-width: 250px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  //width: 100%;
  @include transition(all $transition-duration-fast $transition-timing-function);

  @include media-small-mx {
    width: 100%;
  }
  @include media-small-mn {
    min-width: 240px;
  }

  @media only screen and (min-width: 300px) {
    white-space: nowrap;
  }

  &:not(.btn_small) {

    @include media-tablet-v-mx {
      font-size: 1.25rem; //20px
    }
    @include media-tablet-h-mx {
      font-size: inherit; //16px
      min-height: 48px;
    }
    @include media-tablet-h-mn {
      min-height: 68px;
    }
  }

  &.btn_small {
    font-size: 0.8rem; //16px;
    min-height: 48px;
  }

  &:not(.btn_empty) {
    background-color: $color-blue;
    border: 1px solid $color-blue;
    color: #fff;

    &:hover {
      @extend %hover;
    }

    &:disabled {
      color: #94d0ff;
    }
  }

  &.btn_empty {
    background-color: #fff;
    border: 1px solid $color-grey-medium;
    color: $font-color-base;

    &:hover {
      @extend %hover;
    }

    &:disabled {
      color: #94d0ff;
    }
  }

  &.btn_right {
    margin-top: -1px;

    @include media-phablet-mx {
      width: 100%;
    }
    @include media-phablet-mn {
      float: right;
      margin-left: auto;
      max-width: max-content;
    }
  }

  //&:active {
  //  background-color: $color-blue-medium;
  //  border: 1px solid $color-blue-medium;
  //  color: $color-orange;
  //}

  &:focus {
    outline: 3px solid $color-blue-light;
    //@include box-shadow(none);
  }

  &.disabled,
  &:disabled {
    //cursor: not-allowed;
    user-select: none;
    pointer-events: none;
  }
}


/* Button without text, only icon */
.btn-icon {
  @extend .btn;
  background-position: 50%;
  min-height: auto;
  min-width: auto;
}


/* Button without text, only arrow */
.btn-arrow {
  @extend .btn;
  @extend .btn-icon;
  background-repeat: no-repeat;
  @include background-size(50%);
  user-select: none;

  @include media-tablet-h-mx {
    width: 48px;
  }
  @include media-tablet-h-mn {
    width: 68px;
  }

  &.btn-arrow_prev {
    @extend .btn_empty;
    background-image: url("../img/icons/i-arrow-min.svg");
    background-color: transparent;
    border: 1px solid $color-grey-medium;
    @include transform(rotate(180deg));
  }

  &.btn-arrow_next {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1IDE2IiB2aWV3Qm94PSIwIDAgMjUgMTYiPjxwYXRoIGQ9Ik0xNi4yIDIuMWMtLjQtLjQtLjQtMS4xIDAtMS42LjQtLjQgMS4xLS40IDEuNiAwbDYuNyA2LjdjLjQuNC40IDEuMSAwIDEuNmwtNi43IDYuN2MtLjQuNC0xLjEuNC0xLjYgMC0uNC0uNC0uNC0xLjEgMC0xLjZMMjEgOS4xSDEuNEMuOCA5LjEuMyA4LjYuMyA4cy41LTEuMSAxLjEtMS4xaDE5LjVsLTQuNy00Ljh6IiBzdHlsZT0iZmlsbDojZmZmIi8+PC9zdmc+"); //white arrow
  }

  &:hover {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1IDE2IiB2aWV3Qm94PSIwIDAgMjUgMTYiPjxwYXRoIGQ9Ik0xNi4yIDIuMWMtLjQtLjQtLjQtMS4xIDAtMS42LjQtLjQgMS4xLS40IDEuNiAwbDYuNyA2LjdjLjQuNC40IDEuMSAwIDEuNmwtNi43IDYuN2MtLjQuNC0xLjEuNC0xLjYgMC0uNC0uNC0uNC0xLjEgMC0xLjZMMjEgOS4xSDEuNEMuOCA5LjEuMyA4LjYuMyA4cy41LTEuMSAxLjEtMS4xaDE5LjVsLTQuNy00Ljh6IiBzdHlsZT0iZmlsbDojZmY5NzFkIi8+PC9zdmc+"); //orange arrow
  }
}


/* Button with text and arrow */
.btn-more {
  @extend .btn;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20vw;

  SPAN {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1IDE2IiB2aWV3Qm94PSIwIDAgMjUgMTYiPjxwYXRoIGQ9Ik0xNi4yIDIuMWMtLjQtLjQtLjQtMS4xIDAtMS42LjQtLjQgMS4xLS40IDEuNiAwbDYuNyA2LjdjLjQuNC40IDEuMSAwIDEuNmwtNi43IDYuN2MtLjQuNC0xLjEuNC0xLjYgMC0uNC0uNC0uNC0xLjEgMC0xLjZMMjEgOS4xSDEuNEMuOCA5LjEuMyA4LjYuMyA4cy41LTEuMSAxLjEtMS4xaDE5LjVsLTQuNy00Ljh6IiBzdHlsZT0iZmlsbDojZmZmIi8+PC9zdmc+"); //white arrow
    margin-left: calc(var(--md) + 2px);
    width: 25px;
    height: 16px;
    transition: all $transition-duration-fast $transition-timing-function;
  }

  &:hover {

    SPAN {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1IDE2IiB2aWV3Qm94PSIwIDAgMjUgMTYiPjxwYXRoIGQ9Ik0xNi4yIDIuMWMtLjQtLjQtLjQtMS4xIDAtMS42LjQtLjQgMS4xLS40IDEuNiAwbDYuNyA2LjdjLjQuNC40IDEuMSAwIDEuNmwtNi43IDYuN2MtLjQuNC0xLjEuNC0xLjYgMC0uNC0uNC0uNC0xLjEgMC0xLjZMMjEgOS4xSDEuNEMuOCA5LjEuMyA4LjYuMyA4cy41LTEuMSAxLjEtMS4xaDE5LjVsLTQuNy00Ljh6IiBzdHlsZT0iZmlsbDojZmY5NzFkIi8+PC9zdmc+"); //orange arrow
      @include transform(translateX(5px));
    }
  }
}