/* Card box */

.card-outer {
  display: grid;

  @include media-phablet-mx {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  @include media-phablet-mn {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include media-tablet-h-mn {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.card {
  border-bottom: 1px solid $color-grey-medium;
  border-left: 1px solid $color-grey-medium;
  grid-column: span 1 / span 1;
  display: flex;
  flex-direction: column;
  //flex-grow: 1;
  opacity: 1;
  @include transition(all $transition-duration $transition-timing-function);

  @include media-phablet-mx {
    border-right: 1px solid $color-grey-medium;
  }
  @include media-phone-mx {
    padding: 3vh 15px 2vh;
  }
  @include media-phone-mn {
    padding: 5vh 3vw 3vw;
  }
  @include media-tablet-h-mn {
    padding: 5vh 1vw 4vw;
  }
  @include media-laptop-mn {
    padding: 6vh 2vw 5vw;
  }
  @include media-desktop-mn {
    padding: 7vh 5.5vw 6vh 2.5vw;
  }

  &:hover {
    background-color: $color-blue-dark;

    .card__title A {
      color: $color-orange;

      &:hover {
        color: darken($color-orange, 10%);
      }
    }

    .card__more {
      color: $color-blue-dark;

      SPAN {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1IDE2IiB2aWV3Qm94PSIwIDAgMjUgMTYiPjxwYXRoIGQ9Ik0xNi4yIDIuMWMtLjQtLjQtLjQtMS4xIDAtMS42LjQtLjQgMS4xLS40IDEuNiAwbDYuNyA2LjdjLjQuNC40IDEuMSAwIDEuNmwtNi43IDYuN2MtLjQuNC0xLjEuNC0xLjYgMC0uNC0uNC0uNC0xLjEgMC0xLjZMMjEgOS4xSDEuNEMuOCA5LjEuMyA4LjYuMyA4cy41LTEuMSAxLjEtMS4xaDE5LjVsLTQuNy00Ljh6IiBzdHlsZT0iZmlsbDojZmY5NzFkIi8+PC9zdmc+"); //orange icon
      }
    }
  }
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__tag {
  color: $color-grey-dark;
  font-family: $font-family-accent;
  font-weight: $font-weight-500;
  font-size: 0.9rem; //18px;
  line-height: 26px;
  letter-spacing: 2px;
  order: -1;
  text-transform: uppercase;
}

.card__img {
  width: 100%;

  IMG {
    display: block;
    width: 100%;
  }
}

.card__title {
  @include title_4;
}

.card__txt {
  line-height: 1.6;

  @include media-tablet-v-mx {
    font-size: 0.875rem; //14px;
  }
  @include media-tablet-v-mn {
    font-size: clamp(0.75rem, calc(5px + 1vw), 20px);
    padding-bottom: 2vh;
  }
}

//.card__footer {
//  display: flex;
//  justify-content: flex-end;
//  margin-top: auto;
//}

.card-outer + .btn {
  //margin-top: -1px;

  @include media-phablet-mn {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  @include media-tablet-h-mn {
    max-width: calc(25% + 3px);
  }
}

.card__more {
  color: $color-blue-dark;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: $font-family-accent;
  font-weight: $font-weight-700;
  letter-spacing: 2px;
  line-height: 1.9;
  margin-left: auto;
  padding: 5px;
  text-transform: uppercase;
  white-space: nowrap;

  @include media-tablet-v-mn {
    font-size: 0.8rem; //16px;
  }

  SPAN {
    background: url("../img/icons/i-arrow-min.svg") no-repeat;
    margin-left: calc(var(--md) + 2px);
    width: 25px;
    height: 16px;
    transition: all $transition-duration-fast $transition-timing-function;
  }
}