/*
Filter
*/

.filter {
}

.filter__bar {
  border-bottom: 1px solid $color-grey-medium;
  font-size: 0;
  display: flex;
  //gap: 2px;
  //gap: var(--md);
}

.filter__bar-item {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.03em;
  @include underline_link;
  @include transition(all $transition-duration-slow $transition-timing-function);

  @include media-phablet-mx {
    padding: 20px 3vw;
  }
  @include media-phablet-mn {
    padding: 25px 3vw;
  }
  @include media-laptop-mn {
    min-width: 170px;
    padding: 25px 1.6vw;
  }
}


.filter__clear {
  background: transparent;
  border: 0 none;
  color: $color-blue;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: $font-family-accent;
  font-size: 0.9rem;
  font-weight: $font-weight-500;
  letter-spacing: 2px;
  line-height: 1.5;
  margin-top: 3.5vh;
  margin-left: auto;
  outline: none;
  position: relative;
  text-transform: uppercase;
  @include transition(all $transition-duration $transition-timing-function);

  &:hover {
    color: $color-black;
  }

  &:before {
    content: '×';
    font-size: 28px;
    font-weight: $font-weight-400;
    line-height: 1;
    margin: -1px 1.5vw 0 0;
  }
}



/* Draggable Tabs Arrows */
.filter__bar-outer {
  position: relative;

  .filter__bar-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
    position: absolute;
    top: 0;

    &:first-child {
      display: none;
      left: -50px;
      transform: rotate(180deg);
    }

    &:last-child {
      right: -50px;
    }

    SPAN {
      background: url("../img/icons/i-arrow-sm-min.svg") center no-repeat;
      background-size: 27%;
      cursor: pointer;
      height: 50px;
      width: 50px;

      &:hover {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE2IDE2IiB2aWV3Qm94PSIwIDAgMTYgMTYiPjxwYXRoIGQ9Ik00LjcgMi4xYy0uNC0uNC0uNC0xLjEgMC0xLjYuNC0uNCAxLjEtLjQgMS42IDBMMTMgNy4yYy40LjQuNCAxLjEgMCAxLjZsLTYuNyA2LjdjLS40LjQtMS4xLjQtMS42IDAtLjQtLjQtLjQtMS4xIDAtMS42bDUuOC01LjgtNS44LTZ6IiBzdHlsZT0iZmlsbDojZmY5NzFkIi8+PC9zdmc+");
      }
    }
  }
}

/* Draggable Tabs Slider */
.filter__bar {
  overflow-x: hidden;
  scroll-behavior: smooth;

  &.dragging {
    scroll-behavior: auto;
    cursor: grab;

    .filter__bar-item {
      user-select: none;
      pointer-events: none;
    }
  }
}