/*
Hamburger
*/

#hamburger {
  @include media-netbook-mx {
    @include box-sizing;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left: auto;
    position: relative;
    top: 3px;
    right: -10px;
    z-index: 11;
    @include transform(rotate(0deg));
    @include transition(all $transition-duration-fast $transition-timing-function);

    // Animation
    @include x-animation(slideTop .5s $transition-timing-function both);
  }
  @include media-small-mx {
    right: 0;
  }
  @include media-netbook-mn {
    display: none;
  }

  span {
    background-color: $color-blue;
    @include b-radius(9px);
    display: block;
    height: 2px;
    width: calc(100% - 20px);
    opacity: 1;
    position: absolute;
    left: 10px;
    @include transform(rotate(0deg));
    @include transition(all $transition-duration $transition-timing-function);

    &:nth-child(1) {
      top: 12px;
    }

    &:nth-child(2), &:nth-child(3) {
      top: 18px;
    }

    &:nth-child(4) {
      top: 24px;
    }
  }

  &:hover span {
    background-color: $color-orange;

    &:nth-child(4) {
      width: calc(86% - 20px);
    }
  }

  &.open span {

    &:nth-child(1) {
      top: 18px;
      width: 0;
      left: 50%;
    }

    &:nth-child(2) {
      @include transform(rotate(45deg));
    }

    &:nth-child(3) {
      @include transform(rotate(-45deg));
    }

    &:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%;
    }
  }
}