.icon {
  background-position: 0 50%;
  background-repeat: no-repeat;
  display: block;
  padding-left: 25px;
}

.icon_email {
  background-image: url("../img/i-email-min.svg");
  background-size: 14px 12px;
}
.icon_telegram {
  background-image: url("../img/i-telegram-min.svg");
  background-size: 16px 14px;
}
.icon_linkedin {
  background-image: url("../img/i-linkedin-min.svg");
  background-size: 15px 14px;
}
