/* All blocks with a floating background image to left of content */
.container {

  & + .container {
    @include form-grid;
  }
}

.section__title {
  padding-bottom: 0;

  @include media-netbook-mn {
    padding-left: 2.5vw;
    transition: none;
  }
  @include media-laptop-mn {
    margin-left: 407px;
  }
}

.section__img-outer {
  @include media-netbook-mx {
    display: none;
  }
  @include media-netbook-mn {
    position: relative;
  }

  IMG {
    @include media-netbook-mn {
      display: block;
      position: absolute;
      right: 0;
      object-fit: cover;
      @include transition(all $transition-duration $transition-timing-function);
      max-width: 568px;
      width: 100vh;
    }
  }
}