/* Industries */

.content-img {
  transition: all $transition-duration $transition-timing-function;

  @include media-netbook-mx {
    display: none;
  }
  @include media-netbook-mn {
    border-left: 1px solid $color-grey-medium;
    display: flex;
    align-items: flex-end;
    max-width: 24vw;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    IMG {
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05);
      display: block;
      object-fit: cover;
      margin-top: auto;
      width: 100%;
      transition: all $transition-duration $transition-timing-function;
    }
  }
  @include media-laptop-mn {
    max-width: 28vw;
  }
  @include media-desktop-mn {
    max-width: 30vw;

    IMG {
      margin-bottom: -63px;
    }
  }
}

@import "toggle";