/*
General layout
*/

html,
body {
  //height: 100%;
}

html {
  font-size: var(--font-size-base);
}

body {
  background-color: #fff;
  color: $font-color-base;
  font: $font-weight-400 1rem/1.25 $font-family-base;
  //display: flex;
  //flex-direction: column;
  //min-height: 100vh;
}

main[role="main"] {
  //flex: 1;
  position: relative;

  //&:before {
  //  content: '';
  //  border-top: 700px solid $color-blue;
  //  border-left: 700px solid transparent;
  //  width: 0;
  //  height: 0;
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //}
}

.container-fluid {
  position: relative;

    &:after {
      content: '';
      //background-color: $color-grey-light;
      //height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      //width: 50vw;
    }
    &.container-fluid_right {
      &:after {
        right: 0;
      }
    }
    &.container-fluid_left {
      &:after {
        left: 0;
      }
    }
  @include media-laptop-mn {
  }
}

.container {
  @include box-sizing;
  @include margin-auto;
  @include transition(max-width $transition-duration $transition-timing-function);

  @media only screen and (max-width: 399px) {
    padding: 0 16px;
    width: 100%;
  }
    @media only screen and (max-width: 299px) {
      padding: 0 8px;
  }
  @media only screen and (min-width: 400px) {
    max-width: calc(90% - 50px);
    width: 100%;
  }
  @include media-phone-mn {
    max-width: calc(80% - 50px);
    width: 100%;
  }
  @include media-phablet-mn {
    max-width: calc(100% - 12vw);
  }
  @include media-tablet-v-mn {
    max-width: calc(100% - 16vw);
  }
  @include media-laptop-mn {
    max-width: 1270px;
  }
  @include media-desktop-mn {
    max-width: 1602px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: $font-family-accent;
  @include reset;
  @include transition(all $transition-duration $transition-timing-function);
}

.title_1 {
  @include title_1;
}
.title_2 {
  @include title_2;
}
.title_3 {
  @include title_3;
}
.title_4 {
  @include title_4;
}
.title_5 {
  @include title_5;
}
.title_6 {
  @include title_6;
}

ul,
ol {
  @include reset;
}

nav ul {
  list-style: none;
}

*::selection {
  background: $color-blue;
  //background: $color-orange;
  color: #fff;
}

a {
  color: $font-color-base;
  cursor: pointer;
  text-decoration: none;
  //text-decoration: underline;
  @include transition(all $transition-duration $transition-timing-function);

  &:link,
  &:visited {}

  a:focus,
  &:active,
  &:hover {
    color: $color-blue;
    outline: none;
    //text-decoration: none;
    //text-decoration: underline;
  }
}

blockquote {
  margin: 0;
}

sub, sup {
  font-size: 88%;
}
sup {
  top: -0.1em;
}

*:not(hr) {
  @include box-sizing;
}

hr {
  border: none;
  border-top: 1px solid $color-grey-medium;
  height: 0;
  padding: 0;
}

.nowrap {
  white-space: nowrap;
}

.hidden,
.d-none {
  display: none;
}

.blue {
  color: $color-blue;
}