.loader-outer {
  position: relative;
  z-index: 9999;

  // Animation
  opacity: 0;
  @include x-animation(fadeInloader .1s $transition-timing-function both);
  animation-delay: .15s;

  @-webkit-keyframes fadeInloader {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeInloader {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}

.loader {
  border: 6px solid #f1f1f1; /* Light grey */
  outline: 2px solid #fff;
  border-top: 6px solid $color-blue;
  @include b-radius(50%);
  @include margin-auto;
  width: 50px;
  height: 50px;

  // Animation
  @include x-animation(spinLoad 1.15s linear infinite);
  animation-delay: .15s;
}