/* Numbers */
.numbers {
  display: flex;
  flex-wrap: wrap;
}

.numbers__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include media-netbook-mn {
    padding-top: 2.5vh;
    padding-right: 27px;
  }

  .numbers__title {
    order: 2;
    @include title_4;

    @include media-tablet-v-mx {
      BR {
        display: none;
      }
    }
    @include media-phone-mx {
      word-break: break-word;
    }
  }

  P {
    @include numeric_list;
    margin: 0;
  }
}