/* Bottom form section */
.section_form {
  //display: none;

  .container {
    @include form-img-grid;

    &:first-child {
      position: relative;
      z-index: 1;
    }

    & + .container {
      @include form-alignment;
    }
  }

  .section__title {

    @include media-phablet-mx {
      margin-bottom: -0.2em;
    }
    @include media-phablet-mn {
      margin-bottom: calc((10vh + 0.2em) * -1);
    }
    @include media-tablet-v-mn {
      margin-bottom: calc((10vh + 0.25em) * -1);
    }
    @include media-desktop-mn {
      padding-left: 6vw;
    }
  }

  .section__img-outer {

    IMG {
      bottom: -10vh;
      max-height: 863px;
    }
  }

  .form {
    @include media-phablet-mx {
      margin-bottom: 3vh;
    }
  }

  .btn_right {
    @include form-btn_right;
  }
}