/*
Top section
*/
.section_top {
  //display: none;

  // Animation
  //opacity: 0;
  //animation-duration: 0.4s;
  //animation-delay: 1.15s;
  //-webkit-animation-name: sectionTop;
  //animation-name: sectionTop;

  @include media-phablet-mn {
    //margin-bottom: 68px;
    padding-bottom: 68px;
    min-height: 700px;
  }

  // Blue triangle on the right
  &:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    @include transition(all $transition-duration $transition-timing-function);

    // Animation
    //opacity: 0;
    //animation-duration: 0.4s;
    //animation-delay: 1.15s;
    //-webkit-animation-name: slideTop;
    //animation-name: slideTop;

    @include media-tablet-v-mx {
      border-top: 20rem solid $color-blue;
      border-left: 18rem solid transparent;
    }
    @include media-phablet-mx {
      border-left: 40vw solid transparent;
    }
    @include media-tablet-v-mn {
      border-top: 20rem solid $color-blue;
      border-left: 20rem solid transparent;
    }
    @include media-laptop-mn {
      border-top: 25rem solid $color-blue;
      border-left: 25rem solid transparent;
    }
    @include media-desktop-mn {
      border-top: 30rem solid $color-blue;
      border-left: 30rem solid transparent;
    }
  }

  .container {
    position: relative;

    @include media-phablet-mn {
      border-right: 1px solid $color-grey-medium;
    }

    @include media-tablet-h-mn {
      &:before {
        content: '';
        background-color: $color-grey-medium;
        height: 100%;
        width: 1px;
        position: absolute;
        top: 0;
        left: calc(75% - 1px);
        bottom: 0;
        @include transition(all $transition-duration-fast $transition-timing-function);
      }
    }
  }

  .section__content-left {
    position: relative;

    &:before,
    &:after {
      content: '';
      background-color: $color-grey-medium;
      display: block;
      height: 100%;
      width: 1px;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
    }

    @include media-phablet-mx {
      border-right: 1px solid $color-grey-medium;
      padding: 3vh 0 0;

      &:before {
        left: 50%;
      }
      &:after {
        display: none;
      }
    }
    @include media-phablet-mn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 680px;
      padding: 7vh 0;

      &:before {
        left: 33.33%;
      }
      &:after {
        left: 66.66%;
      }
    }
    @include media-tablet-h-mn {
      &:before {
        left: 25%;
      }
      &:after {
        left: 50%;
      }
    }
  }

  .section__title-page {
    @include title_1;

    @include media-phablet-mn {
      max-width: 10em;
    }
    @include media-laptop-mx {
      br {
        display: none;
      }
    }
  }

  .section__slogan {
    @include media-phablet-mn {
      max-width: 22em;
    }
    @media only screen and (min-width: 940px) {
      max-width: 24em;
    }
    @include media-laptop-mn {
      max-width: 28em;
    }
    @include media-desktop-mn {
      max-width: 36em;
    }
  }

  .section__img-outer {
    display: block;
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      @include transition(all $transition-duration-fast $transition-timing-function);
    }

    @include media-phablet-mx {
      &:before {
        background-color: $color-grey-medium;
        //left: calc(50% - 1px);
        left: 50%;
        width: 1px;
      }
      &:after {
        border-right: 1px solid $color-grey-medium;
        width: 100%;

        @include media-phablet-mx {
          left: 0;
          right: 0;
          @include margin-auto;
          max-width: calc(80% - 51px);
        }
        @media only screen and (max-width: 575px) {
          max-width: calc(90% - 51px);
        }
        @media only screen and (max-width: 399px) {
          max-width: calc(100% - 33px);
        }
        @media only screen and (max-width: 299px) {
          max-width: calc(100% - 17px);
        }
      }
    }

    &:after {
      @include media-phablet-mn {
        max-width: calc(100% - 12vw);
      }
    }
  }

  .section__img {
    height: auto;
    object-fit: contain;

    @include media-phablet-mx {
      max-width: 100%;
      position: relative;
      z-index: 1;
      display: block;
    }

    @include media-phablet-mn {
      max-width: 60%;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      transition: all $transition-duration $transition-timing-function;
    }
    @include media-laptop-mn {
      max-width: 50%;
    }
  }

  .btn-outer {

    .btn {

      @include media-phablet-mx {
        margin-top: 20px;
      }
      @include media-small-mn {
        min-width: auto;
      }
    }

    @include media-phablet-mn {
      border-top: 1px solid $color-grey-medium;
      display: flex;
      position: absolute;
      width: 100%;

      @include media-tablet-h-mx {
        bottom: -48px;
      }
      @include media-tablet-h-mn {
        bottom: -68px;
      }

      .btn {
        margin-top: -1px;

        @include media-tablet-h-mx {
          min-width: auto;
          width: 33.33%;
        }

        @include media-tablet-h-mn {

          &:first-child {
            width: 25%;
          }

          &.btn_empty {
            width: calc(25% + 1px);
          }
        }
      }
    }
  }
}