/*
General Landing styles
*/
.section {
  @include margin-auto;
  @include transition(all $transition-duration-fast $transition-timing-function);

  &:not(.section_top):not(.section_top-small):not(.section_top-small + .section):not(.section_form) {

    @include media-phablet-mx {
      margin: 10vh 0;
    }
    @include media-phablet-mn {
      margin: 20vh 0;
    }
  }

  ul {

    li {
      @include box-sizing;
      list-style: none;
    }
  }
}

.section__title {
  transition: all $transition-duration $transition-timing-function;

  &.section__title_page {
    font-size: clamp(40px, calc(29px + 4vw), 96px);
    line-height: 1.18;

    @include media-phablet-mn {
      max-width: 10em;
    }

    @include media-laptop-mx {
      br {
        display: none;
      }
    }
  }

  &:not(.section__title_page) {
    font-size: clamp(30px, calc(13px + 5vw), 72px);
    line-height: 1.175;

    @include media-phablet-mx {
      padding-right: 3vw;
      margin-bottom: 25px;
    }
    @include media-phablet-mn {
      margin-bottom: 3.5vh;
    }
  }
}

.section__slogan {
  line-height: 1.59;
  margin: 0;

  @include media-phablet-mn {
    padding: 4.5vh 0 0;
  }

  @include media-tablet-v-mn {
    font-size: clamp(0.8rem, calc(7px + 1vw), 24px);
  }
}

.section_top .section__slogan {
  @include media-phablet-mx {
    padding: 2vh 3vw 1vh 0;
  }
  @include media-phablet-mn {
    max-width: 22em;
  }
  @media only screen and (min-width: 940px) {
    max-width: 24em;
  }
  @include media-laptop-mn {
    max-width: 28em;
  }
  @include media-desktop-mn {
    max-width: 36em;
  }
}