/*
Offer section
*/
.section_offer {
  //display: none;
  @import "img-left";

  /* Custom CSS only offer section */
  .section__title {
    @include media-desktop-mn {
      padding-left: 3.5vw;
    }
  }

  .container + .container {
    @include media-phablet-mn {
      background-color: $color-grey-light;
      padding-top: 3.5vh;
      padding-bottom: 8vh;
    }
    @include media-laptop-mn {
      padding-bottom: 12vh;
    }
  }

  .section__img-outer {

    IMG {
      @include media-netbook-mn {
        top: -145px;
      }
    }
  }

  @import "numbers";

  /* Custom CSS for numbers of Career page */
  .numbers__item {
    @include media-phablet-mx {
      padding: 2vh 10px 3vh 0;
    }

    @include media-phone-mn {
      width: 50%;
    }

    @include media-phablet-mn {
      padding-top: 2vh;
      padding-bottom: 2vh;
    }

    @include media-phablet-netbook {
      &:nth-child(odd) {
        padding-left: 5vw;
        padding-right: 5vw;
      }
      &:nth-child(even) {
        padding-right: 5vw
      }
    }

    @include media-netbook-mn {
      padding-left: 2.5vw;
    }

    @include media-desktop-mn {
      padding-bottom: 2.8vh;
      padding-left: 3.5vw;

      &:nth-child(odd) {
        width: 21.5em;
      }
      &:nth-child(even) {
        width: calc(100% - 21.5em);

        .numbers__title {
          width: 13.5em;
        }
      }
    }
  }
}