/*
General Landing styles
*/
.section {
  @include margin-auto;
  position: relative;
  @include transition(all $transition-duration-fast $transition-timing-function);

  &:not(.section_top):not(.section_top-small):not(.section_top-small + .section):not(.section_form) {
    overflow: hidden;

    @include media-phablet-mx {
      margin: 10vh 0;
    }
    @include media-phablet-mn {
      margin: 18vh 0;
    }
  }
}

.section__title {
  @include title_2;

  @include media-phablet-mx {
    padding-right: 3vw;
    margin-bottom: 25px;
  }
  @include media-phablet-mn {
    margin-bottom: 3.5vh;
  }
}

.section__slogan {
  line-height: 1.59;
  margin: 0;

  @include media-phablet-mx {
    padding: 2vh 3vw 1vh 0;
  }
  @include media-phablet-mn {
    padding: 4.5vh 0 0;
  }

  @include media-tablet-v-mn {
    font-size: clamp(0.8rem, calc(7px + 1vw), 24px);
  }
}