/*
Bottom form section
*/
.section_form {
  @import "img-left";
  //display: none;

  .container:first-child {
    position: relative;
    z-index: 1;
  }

  .section__title {
    @include media-netbook-mx {
      margin-bottom: 0;
    }
    @include media-phablet-mn {
      margin-bottom: -0.25em;
    }
    @include media-desktop-mn {
      padding-left: 6vw;
    }
  }

  .section__img-outer {

    IMG {
      bottom: 0;
    }
  }

  /* Custom CSS only bottom form */
  .form {
    @include media-phablet-mx {
      margin-bottom: 3vh;
    }
    @include media-phablet-mn {
      border-bottom: 10vh solid $color-grey-light;
      position: relative;

      &:after {
        @include bg-grey;
        border-bottom: 10vh solid $color-grey-light;
        right: -100vw;
      }
    }
  }

  .btn_right {
    @include media-phablet-mn {
      min-width: calc(50% - 2.5vw);
      padding-left: 2vw;
      padding-right: 2vw;
    }
    @include media-netbook-mn {
      min-width: 44%;
    }
    @include media-desktop-mn {
      min-width: 380px;
    }
  }
}