/* Tabs with arrow */
.tab {

  @include media-phablet-mn {
    display: flex;
  }
}


.tab__bar {
  position: relative;
  z-index: 1;

  @include media-phablet-mn {
    min-width: fit-content;
  }

  .tab__bar-item {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-family: $font-family-accent;
    text-align: left;
    width: 100%;
    @include transition(all $transition-duration $transition-timing-function);

    @include media-phablet-mx {
      border-left: 4px solid $color-blue;
      display: block;
      font-weight: $font-weight-700;
      line-height: 1.12; //18px;
      padding: 5px 0 5px 10px;

      &:hover {
        color: $font-color-base;
        border-left: 4px solid $color-blue-dark;
      }
    }

    @include media-phablet-mn {
      padding: 1.75vh 20px 1.8vh 0;
      position: relative;

      &.active,
      &:hover {

        &:after {
          content: '';
          background-color: $color-blue-dark;
          height: calc(100% + 1px);
          width: 14px;
          position: absolute;
          top: 0;
          bottom: 0;
        }
      }

      &.active {
        border-bottom: 1px solid $color-blue;
        pointer-events: none;

        &:after {
          background-color: $color-blue;
        }
      }
    }
  }
}


.tab__content {
  position: relative;
  width: 74%;
  transition: all $transition-duration $transition-timing-function;

  P {
    line-height: 1.6; //32px;
    margin: 1.9em 0;
  }
}


.toggle {

  .toggle__content-box {

    // Animation
    @include x-animation(fade 0.5s ease-in forwards);

    @include media-phablet-mn {
      padding-left: var(--lg);
    }
  }


  .toggle__title {
    font-size: clamp(28px, calc(16px + 2vw), 48px);

    SPAN {
      color: $color-grey-dark;
      font-weight: $font-weight-400;
      white-space: nowrap;
    }
  }


  .toggle__controls {
    display: flex;
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 1;

    SPAN {
      display: none;
    }
  }


  .toggle__number {
    color: $color-grey-medium;
    font-family: $font-family-accent;
    font-size: 0.9rem;
    font-weight: $font-weight-500;
    letter-spacing: 2px;
    padding: 8px 26px 0 0;
    position: absolute;
    right: 0;

    @include media-tablet-h-mx {
      top: 48px;
    }
    @include media-tablet-h-mn {
      top: 68px;
    }

    SPAN {
      color: $font-color-base;
    }
  }
}