/*
Tag Block
*/
.tag {
  font-size: 0;
  line-height: 1.6;
  list-style: none;
  margin-bottom: 5vh;

  @include media-phone-mn {
    display: flex;
  }
}

.tag__col:not(:first-child) {
  @include media-tablet-v-mn {
    margin-left: 4vw;
  }
}

.tag__title {
  @include title_5;
  margin-bottom: 1.7vh;
}

.tag__item {
  border: 1px solid $color-grey-medium;
  display: inline-flex;
  align-items: center;
  @include title_7;
  @include transition(all $transition-duration $transition-timing-function);

  @include media-tablet-v-mx {
    height: 32px;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 0 7px;
  }
  @include media-tablet-v-mn {
    height: 40px;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 0 10px;
  }
}