.geography {
    overflow-x: hidden;
}

.geography__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &:nth-of-type(2n) {
        direction: rtl;
    }
}

.geography__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--stroke-accent-color);
    font-weight: 500;
    line-height: 1;
}
.geography__list--top .geography__item {
    font-size: 36px;
}
.geography__list--top .geography__item svg {
    margin-right: 24px;
    margin-left: 24px;
}
.geography__list--mid .geography__item {
    font-size: 30px;
}
.geography__list--mid .geography__item svg {
    margin-right: 32px;
    margin-left: 32px;
}
.geography__list--bottom .geography__item {
    font-size: 26px;
}
.geography__list--bottom .geography__item::before {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 24px;
    margin-left: 24px;
    border: 2px solid var(--stroke-accent-color);
    border-radius: 50%;
    content: "";
}
.geography__list:first-child .geography__item {
    border-top: 2px solid var(--stroke-accent-color);
}
@media (min-width: 768px) {
    .geography__item {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .geography__list--top .geography__item {
        font-size: 50px;
    }
    .geography__list--top .geography__item svg {
        width: 34px;
        height: 32px;
        margin-right: 32px;
        margin-left: 32px;
    }
    .geography__list--mid .geography__item {
        font-size: 40px;
    }
    .geography__list--mid .geography__item svg {
        width: 28px;
        height: 28px;
    }
    .geography__list--bottom .geography__item {
        font-size: 34px;
    }
    .geography__list--bottom .geography__item::before {
        width: 24px;
        height: 24px;
        margin-right: 28px;
        margin-left: 28px;
    }
}
@media (min-width: 1024px) {
    .geography__list--top .geography__item {
        font-size: 58px;
    }
    .geography__list--top .geography__item svg {
        margin-right: 54px;
        margin-left: 54px;
    }
    .geography__list--mid .geography__item {
        font-size: 50px;
    }
    .geography__list--mid .geography__item svg {
        margin-right: 48px;
        margin-left: 48px;
    }
    .geography__list--bottom .geography__item {
        font-size: 40px;
    }
    .geography__list--bottom .geography__item::before {
        margin-right: 44px;
        margin-left: 44px;
    }
}