@import "section";

@import "section-top";

.hot {
  @include hot;
  max-width: fit-content;

  @include media-phablet-mx {
    display: block;
    //max-width: fit-content;
  }
  @include media-phablet-mn {
    margin-right: 16px;
  }
}


.section_tabs {
  //display: none;

  @import "filter";

  .filter {
    @media only screen and (max-width: 399px) {
      margin-left: -16px;
      margin-right: -16px;
      //width: calc(100% + 32px);
    }
    @media only screen and (max-width: 299px) {
      margin-left: -8px;
      margin-right: -8px;
    }
  }


  @import "card";

  .card {
    border-left: 0 none;
    flex-direction: row;
    justify-content: center;

    @include media-phablet-mx {
      border-right: 0 none;
    }
    @include media-phone-mx {
      padding: 2.5vh 15px;
    }
    @media only screen and (max-width: 399px) {
      padding: 2vh 16px;
    }
    @media only screen and (max-width: 299px) {
      padding: 1vh 8px;
    }
    @include media-phone-mn {
      padding: 3.3vh 2.3vw 2.5vh 1.7vw;
    }

    &:hover {
      color: #fff;

      .card__title {
        color: $color-orange;
      }
    }
  }

  .card__title {
    @include title_3;

    @include media-phablet-mx {
      margin: 0 0 25px;
    }
    @include media-phablet-mn {
      display: flex;
      align-items: center;
      margin: 5px 0 30px;
    }
  }

  .card__content {
    width: 100%;
  }

  .card__more {
    @include media-laptop-mx {
      text-indent: -10000px;
    }
    @include media-phablet-mx {
      display: none;
    }
  }

  @import "tag";

  .tag {
    margin-bottom: 0;
  }

  .section__subtitle {
    order: -1;
  }
}


@import "section-offer";


/* Slideshow section */
.section_slideshow {
  //display: none;

  .container {
    @include media-netbook-mn {
      border-top: 1px solid $color-grey-medium;
      display: flex;
    }
  }

  .section__title {
    margin-top: 3vh;

    @include media-netbook-mx {
      BR {
        display: none;
      }
    }
    @include media-netbook-mn {
      width: 50%;
    }
    @include media-desktop-mn {
      width: 33.33%;
    }
  }

  @import "toggle";

  /* Custom CSS for toggle of Career page */
  .toggle {
    border-right: 1px solid $color-grey-medium;
    border-bottom: 1px solid $color-grey-medium;
    border-left: 1px solid $color-grey-medium;
    display: block;
    margin-left: auto;
    position: relative;

    @include media-netbook-mx {
      border-top: 1px solid $color-grey-medium;
    }
    @include media-netbook-mn {
      width: 50%;
    }
    @include media-desktop-mn {
      width: 66.66%;
    }
  }
  .toggle__content-box {
    display: block;

    @include media-netbook-mx {
      padding: 9vh 7.3vw;
    }
    @include media-netbook-mn {
      min-height: 500px;
      padding: 11vh 7.3vw;
    }
    @include media-laptop-mn {
      padding: 14.5vh 7.3vw;
    }

    .toggle__title {
      @include title_3;
      font-weight: $font-weight-700;
      padding-bottom: 5px;
    }

    .toggle__subtitle-small {
      color: $color-grey-dark;
      @include title_4;
      font-weight: $font-weight-400;
      padding-bottom: 5vh;
    }

    P {
      //display: flex;
      //align-items: center;
      font-size: 2.4rem; // 48px;
      line-height: 1.2;
      max-width: 36em;
      @include reset;

      IMG {
        max-width: 36px;
        //margin-left: 1em;
      }
    }
  }
}


@import "section-form";