@import 'variables';

@import "section";

@import "section-top";


/* Services section */
.section_services {
  //display: none;

  @import "card";

  .card-outer {
    border-top: 1px solid $color-grey-medium;
  }

  @include media-phablet-mx {

    .btn_right {
      margin-top: -1px;
    }
  }
  @include media-phablet-mn {

    .btn_right {
      margin-left: auto;
      max-width: 50%;
      padding-left: 4vw;
      padding-right: 4vw;
    }
  }
  @include media-tablet-h-mn {

    .btn_right {
      max-width: calc(25% + 3px);
    }
  }
}


/* Toggle section */
.section_toggle {
  //display: none;

  @include media-phablet-mn {
    .container-fluid:after {
      background-color: $color-grey-light;
      width: 50vw;
    }
  }

  .section__img-outer {
    @include transition(all $transition-duration $transition-timing-function);

    @include media-netbook-mx {
      display: none;
    }
    @include media-netbook-mn {
      border-left: 1px solid $color-grey-medium;
      display: flex;
      align-items: flex-end;
      max-width: 24vw;
      min-height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;

      IMG {
        @include box-shadow(0 0 8px 0 rgba(0, 0, 0, 0.05));
        display: block;
        object-fit: cover;
        margin-top: auto;
        width: 100%;
        transition: all $transition-duration $transition-timing-function;
      }
    }
    @include media-laptop-mn {
      max-width: 28vw;
    }
    @include media-desktop-mn {
      max-width: 30vw;

      IMG {
        margin-bottom: -63px;
      }
    }
  }

  @import "toggle";

  .toggle__tabs {
    background-color: #fff;

    @include media-phablet-mn {
      border-top: 1px solid $color-grey-medium;
      padding-bottom: 5vh;
      max-width: 408px;
      width: 26%;
    }

    li {
      text-transform: uppercase;

      @include media-phablet-mx {
        letter-spacing: 1px;

        &:not(:first-child) {
          margin-top: 5.5vh;
        }
      }

      @include media-phablet-mn {
        border-bottom: 1px solid #fff;
        font-size: 0.9rem; //18px;
        line-height: 1.61;  //26px;
        letter-spacing: 2px;

        &.current,
        &:hover A {

          &:after {
            right: -14px;
          }
        }
      }

      SPAN {
        color: $color-grey-dark;
      }
    }
  }

  .toggle__content {
    padding-left: 3vw;
    width: 74%;

    @include media-phablet-mx {
      display: none;
    }
    @include media-phablet-mn {
      background-color: $color-grey-light;
      border: 1px solid $color-grey-medium;
      padding-top: 5vh;
      padding-bottom: 5vh;

      .toggle__content-box {

        &.visible {

          @include media-netbook-mn {
            max-width: 35vw;
          }
        }
      }

      .toggle__title {

        SPAN {
          padding-left: 16px;
        }
      }
    }
    @include media-netbook-mn {
      padding-top: 11vh;
      padding-bottom: 11vh;
    }
    @include media-desktop-mn {
      min-height: 710px;
      padding-bottom: 27vh;
    }
  }
}


/* Hire section */
.section_hire {
  //display: none;

  .container-fluid_left {

    @include media-laptop-mx {
      &:after {
        content: none;
      }

      .container_blue {
        position: relative;

        &:after {
          content: '';
          background-color: $color-blue;
          position: absolute;
          top: 0;
          bottom: 0;
          z-index: -1;
          width: 32vw;
        }
      }

      .container_blue + .container {

        .section__title {
          display: none;
        }
      }
    }

    @include media-laptop-mn {
      &:after {
        background-color: $color-blue;
        width: 31vw;
      }

      .container_blue {
        display: none;
      }
    }
  }

  .container {

    @include media-laptop-mn {
      display: flex;
    }
  }

  .section__title {
    background-color: $color-blue;
    color: #fff;
    margin: 0;
    padding-top: 3vh;
    padding-bottom: 3vh;

    SPAN {
      width: 20em;
    }

    @include media-laptop-mn {
      min-width: fit-content;
      padding-right: 3.5vw;
    }
  }

  @import "numbers";
}


/* Company section */
.section_company {
  background-color: $color-grey-light;
  overflow-x: hidden;
  //display: none;

  @include media-phablet-mx {
    padding: 4.5vh 0 3vh;
  }
  @include media-phablet-mn {
    padding: 4.5vh 0;
  }

  .section__title {

    @include media-phablet-mn {
      background-color: $color-grey-light;
      background: linear-gradient(90deg, rgba(244,244,245,0) 0%, rgba(244,244,245,1) 10%, rgba(244,244,245,1) 90%, rgba(244,244,245,0) 100%);
      margin-left: -50px;
      max-width: fit-content;
      padding: 3vh 99px 5vh 50px;
      position: absolute;
      z-index: 1;
    }
  }

  @import "company";
}


@import "section-reviews";


@import "section-form";