@import "section";

@import "section-top";


/* Services section */
.section_services {
  //display: none;

  @import "card";

  .card-outer {
    border-top: 1px solid $color-grey-medium;
  }

  .card {
    //display: block;

    &:hover {

      .card__title {
        color: $color-orange;
      }

      .card__txt {
        color: #fff;
      }
    }
  }
}


/* Tabs section */
.section_tabs {
  //display: none;

  &.section {
    @include media-phablet-mn {
      margin-bottom: 20vh;
    }
  }
  @include media-netbook-mn {
    padding-bottom: 70px;
  }

  .container {
    position: relative;
  }

  @import "tab";
  //@import "toggle";

  .tab__bar {
    background-color: #fff;

    @include media-phablet-mn {
      border-top: 1px solid $color-grey-medium;
      padding-bottom: 5vh;
      width: 26%;
    }

    .tab__bar-item {
      text-transform: uppercase;

      SPAN {
        color: $color-grey-dark;
        white-space: nowrap;
      }

      @include media-phablet-mx {
        letter-spacing: 1px;

        &:not(:first-child) {
          margin-top: 5.5vh;
        }
      }

      @include media-phablet-mn {
        border-bottom: 1px solid #fff;
        font-size: 0.9rem; //18px;
        line-height: 1.61;  //26px;
        letter-spacing: 2px;

        &.active,
        &:hover {

          SPAN {
            color: $font-color-base;
          }

          &:after {
            right: -14px;
          }
        }
      }
    }
  }

  .tab__content {
    background-color: $color-grey-light;
    border: 1px solid $color-grey-medium;
    width: 74%;

    &:after {
      @include bg-grey;
      right: -100vw;
      z-index: -1;
    }

    @include media-phablet-mx {
      display: none !important;
    }
    @include media-phablet-mn {
      background-color: $color-grey-light;
      border: 1px solid $color-grey-medium;
    }
  }


  .toggle {

    .toggle__content_1, .toggle__content_1 {
      display: none;
    }

    .toggle__content-box {
      padding-left: 3vw;

      @include media-netbook-mx {
        padding-right: var(--lg);
      }
      @include media-phablet-mn {
        padding-top: 7vh;
        padding-bottom: 8vh;

        .toggle__title {

          SPAN {
            padding-left: 16px;
          }
        }
      }
      @include media-netbook-mn {
        max-width: 35vw;
        padding-top: 11vh;
        padding-bottom: 11vh;
        width: 60%;
      }
      @include media-desktop-mn {
        min-height: 710px;
      }
    }

    .toggle__controls {
      @include media-phablet-mx {
        display: none;
      }
    }
  }


  .section__img-outer {
    @include media-netbook-mx {
      display: none;
    }
    @include media-netbook-mn {
      border-left: 1px solid $color-grey-medium;
      display: flex;
      align-items: flex-end;
      padding-top: 80px;
      position: absolute;
      top: 0;
      left: 40vw;
      z-index: 1;
      height: 100%;
      width: 100vw;
      @include transition(all $transition-duration $transition-timing-function);

      .shadow {
        @include box-shadow(0 0 8px 0 rgba(0, 0, 0, 0.05));
        margin-bottom: -63px;
        height: 100%;
        overflow: hidden;
      }

      IMG {
        object-fit: cover;
        height: 634px;
        min-height: 100%;
        width: 567px;
      }
    }
    @include media-desktop-mn {
      padding-top: 120px;
    }
  }
}


/* Hire section */
.section_hire {
  //display: none;

  .container {
    @include media-laptop-mn {
      display: flex;
    }
  }

  .section__title {
    background-color: $color-blue;
    color: #fff;
    margin: 0;
    padding-top: 3vh;
    padding-bottom: 3vh;
    position: relative;

    &:before {
      @include bg-blue;
      left: -100vw;
    }

    SPAN {
      width: 20em;
    }

    @include media-laptop-mn {
      min-width: fit-content;
      padding-right: 3.5vw;
    }
  }

  @import "numbers";

  /* Custom CSS for numbers of Homepage */
  .numbers__item {
    @include media-phablet-mx {
      width: 50%;

      &:nth-child(odd) {
        border-right: 1px solid $color-grey-medium;
        padding: 2vh 10px 3vh 0;
      }
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        border-bottom: 1px solid $color-grey-medium;
      }
      &:nth-child(even) {
        padding: 2vh 10px 3vh 16px;
      }
    }
    @include media-phablet-laptop {
      &:nth-child(1), &:nth-child(4) {
        padding: 2.5vh 16px 5vh 0;
      }
      &:not( &:nth-child(1) ):not( &:nth-child(4) ) {
        padding: 2.5vh 16px 5vh;
      }
    }
    @include media-phablet-mn {
      border-right: 1px solid $color-grey-medium;
      width: 33.33%;

      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        border-bottom: 1px solid $color-grey-medium;
      }
    }
    @include media-netbook-mn {
      padding-bottom: 6vh;
      padding-left: 27px;
    }
    @include media-desktop-mn {
      padding-bottom: 8vh;
    }
  }
}


/* Company section */
.section_company {
  background-color: $color-grey-light;
  //display: none;

  @include media-phablet-mx {
    padding: 4.5vh 0 3vh;
  }
  @include media-phablet-mn {
    padding: 4.5vh 0;
  }

  .section__title {
    @include media-phablet-mn {
      background-color: $color-grey-light;
      background: linear-gradient(90deg, rgba(244,244,245,0) 0%, rgba(244,244,245,1) 10%, rgba(244,244,245,1) 90%, rgba(244,244,245,0) 100%);
      margin-left: -50px;
      max-width: fit-content;
      padding: 3vh 99px 5vh 50px;
      position: absolute;
      z-index: 1;
    }
  }

  @import "company";
}


@import "section-reviews";


/* Bottom form section */
.section_form {
  @import "img-left";
}
@import "section-form";