@import 'variables';

@import "section";

@import "section-top";

@import "filter";


/* Portfolio exceptions */
.section_portfolio {
  //display: none;

  .filter__bar {
    border-bottom: 1px solid $color-grey-medium;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .icon-filter {
      margin-bottom: -1px;
    }
  }

  @import "tag";

  .tag {
    flex-wrap: wrap;
    margin: 6vh 0;

    .tag__item {
      cursor: pointer;

      @include media-tablet-v-mx {
        margin-right: 16px;
        margin-bottom: 16px;
      }
      @include media-tablet-v-mn {
        margin-right: 24px;
        margin-bottom: 24px;
      }

      &:hover {
        border-color: $color-blue;
        color: $color-blue;
      }

      &.active {
        border-color: $color-blue;
        color: $color-blue;
        position: relative;

        &:after {
          content: '×';
          font-size: 28px;
          font-weight: $font-weight-400;
          line-height: 1;
          margin: -2px 3px 0 11px;

          &:hover {
            color: $color-orange;
          }
        }
      }
    }
  }

  @import "card";

  .card-outer {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    border-left: 0 none;
    padding: 0;
    position: relative;

    @include media-phablet-mx {
      border-right: 0 none;
    }
    @include media-phablet-mn {
      margin-top: var(--lg);
    }
    @include media-netbook-mx {
      width: 100%;
    }
    @include media-netbook-mn {
      margin-top: 6vh;
      width: 50%;
    }

    .card__content {
      background-color: #fff;
      height: 100%;
      position: relative;
      z-index: 1;
      @include transition(all $transition-duration $transition-timing-function);

      @include media-netbook-mx {
        padding: 0 1vw 8vh 3vw;
        width: 70%;
      }
      @include media-phablet-mx {
        padding: 0 2vw 6vh 3vw;
      }
      @include media-netbook-mn {
        padding: 0 1vw 10vh 1.7vw;
        width: calc(100% - 150px);
      }
      @include media-laptop-mn {
        padding-bottom: 12vh;
        width: calc(100% - 272px);
      }
    }

    &:hover {
      background-color: transparent;

      .card__content {
        background-color: $color-blue-dark;

        @include media-netbook-mx {
          padding: 4vh 1vw 4vh 3vw;
        }
        @include media-phablet-mx {
          padding: 3vh 2vw 3vh 3vw;
        }
        @include media-netbook-mn {
          padding: 4vh 1vw 6vh 1.7vw;
        }
        @include media-laptop-mn {
          padding-top: 5vh;
          padding-bottom: 7vh;
        }
      }
    }

    &:nth-child(even) {

      .card__content {
        @include media-netbook-mn {
          left: 1.7vw;
          width: calc(100% - 272px - 1.7vw);
        }
      }

      .card__img {
        @include media-netbook-mn {
          width: calc(100% - 2vw);
        }
      }
    }
  }

  .card__title {
    //A {
      //color: $color-orange !important;
    //}

    @include media-netbook-mx {
      @include title_3;
    }
    @media screen and (min-width: 1200px) and (max-width: 1699px) {
      @include title_4;
    }
    @include media-desktop-mn {
      @include title_3;
    }
  }

  .card__tag {
    word-break: break-word;

    @include media-netbook-mx {
      margin: 0 0 1vh;
    }
    @include media-phablet-mx {
      margin: 1vh 0 0;
    }
    @include media-netbook-mn {
      margin: 0 0 3vh;
    }
  }

  .card__img {
    background-color: $color-blue;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;

    IMG {
      height: 100%;
      object-fit: cover;
    }
  }
}


@import "section-form";