@import 'variables';

@import "section";

@import "section-top-small";

@import "tag";

:root {
  --mg: 2vh; //1.55em;
}

%article {
  .section__subtitle {
    @include title_3;

    @include media-phablet-mx {
      margin-top: 5vh;
      margin-bottom: 2vh;
    }
    @include media-phablet-mn {
      margin-top: 9.5vh;
      margin-bottom: 3.5vh;
    }
  }

  .section__subtitle-caps {
    @include title_4;
    margin-top: calc(var(--mg) + 2vh);
    text-transform: uppercase;
  }

  .section__subtitle-middle {
    @include title_4;
  }

  .section__subtitle-small {
    @include title_5;
    //margin-top: 1em;
    //margin-bottom: -.6em;
    margin-top:calc(var(--mg) + 2vh);
    margin-bottom: var(--mg);
  }

  .section__subtitle-micro {
    @include title_6;
    margin-bottom: -.6em;
  }

  P {
    line-height: 1.6; //32px;
    margin-top: var(--mg);
    margin-bottom: var(--mg);
  }

  UL, OL {
    line-height: 1.4;
    margin-top: var(--mg);
    margin-bottom: var(--mg);
    padding-left: 21px;

    LI {
      margin: .3em 0;
    }
  }

  A {
    text-decoration: underline;

    &:hover {
      color: $color-blue;
      text-decoration: none;
    }
  }
}

/* Text section */
.section_txt {
  //@include media-desktop-mx {
  //  margin-bottom: 0vh;
  //}
  @include media-netbook-mx {
    margin-bottom: 8vh;
  }
  @include media-desktop-mn {
    margin-bottom: 6vh;
  }
}

.content-txt {
  //display: none;
  @extend %article;

  &.container-fluid {
    background-color: $color-grey-light;
  }

  &:not(.content-txt_table) {

    //@include media-phablet-mn {
    //  max-width: 67em;
    //  width: 70%;
    //}


    HR {
      margin-bottom: 6vh;
    }
  }

  &.content-txt_table:last-child {
    .table-row__right {
      //@include media-phablet-mn {
      @include media-netbook-mn {
        padding-bottom: 10vh;
      }
    }
  }

  %border {
    //background-color: #fff;
    border: 1px solid $color-grey-medium;

    @include media-phablet-mx {
      padding: var(--lg) 1vw;
    }
    @include media-phablet-mn {
      padding: 3vh 1vw;
    }
  }

  TABLE {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    @include media-phablet-mx {
      overflow-x: scroll;
      display: block;
    }

    TH {
      @extend %border;
      font-family: $font-family-accent;
      font-weight: $font-weight-500;
      background-color: $color-grey-light;
      border: 1px solid $color-grey-medium;

      @include media-phablet-mn {
        position: sticky;
        top: var(--header-height);

        &:first-child {
          white-space: nowrap;
        }
      }
    }
    TD {
      @extend %border;

      @include media-tablet-v-mn {
        font-size: 0.9rem;
      }
    }
  }
}

.section_col-left {
  @include media-netbook-mx {
    margin-bottom: 8vh;
  }
  @include media-netbook-mn {
    margin-bottom: 18vh;
  }

  .container > *:not(ASIDE) {
    @include media-phablet-mn {
      max-width: 67em;
      width: 70%;
    }
  }
}

/* Aside */
.section_aside {

  .container {
    @include media-phablet-mn {
      display: flex;
    }
  }

  @extend .section_col-left;
}

ASIDE {

  @include media-phablet-mx {
    display: none;
  }
  @include media-phablet-mn {
    //float: right;
    margin-left: auto;
    position: sticky;
    top: var(--header-height);
    width: 30%;
  }
}

.feed {

  @include media-phablet-mn {
    padding-left: 4vw;
  }

  @include media-desktop-mn {
    padding-left: 9vw;
  }

  .feed__item {
    display: block;
    @include title_6;
    padding: 1vh 0;

    &:not(.active) {
      color: $color-blue;
    }

    &:hover {
      color: $font-color-base;
    }

    &.active {
      color: $font-color-base;
      pointer-events: none;
    }
  }
}

.sticky {
  ASIDE {
    top: var(--header-height-sticky);
  }

  & + main {
    TABLE TH {
      @include media-phablet-mn {
        top: var(--header-height-sticky);
      }
    }
  }
}

.table-row {
  border-top: 1px solid $color-grey-medium;
  //background-color: yellow;

  @include media-phablet-mn {
    display: flex;
  }

  .section__subtitle {
    //width: 100%;

    @include media-phablet-mn {
      //max-width: 21vw;
      //width: 21vw;
      width: 30%;
    }
    @include media-desktop-mn {
      max-width: 375px;
      //width: 375px;
    }
  }

  .table-row__right {

    @include media-phablet-mx {
      padding: 0 0 4vh;
    }
    @include media-phablet-mn {
      border-left: 1px solid $color-grey-medium;
      padding: calc(2.5vh + var(--mg)) 0 5vh 2.5vw;
      width: 70%;
    }
  }
}

.table-row_grey {

  .table-row__right {
    @include media-phablet-mn {
      padding: 5vh 0 5vh 5vw;
    }
  }

  IMG {
    border: 4px solid #383535;
    @include b-radius(8px);
    @include box-shadow(0 4px 25px rgba(0,0,0,0.05));
    margin: 2vh 0;
    max-width: 100%;
  }
}


/* Intenal Career Page */
.section_career {
  @include media-phablet-mx {
    margin: 10vh 0;
  }
  @include media-phablet-mn {
    margin: 10vh 0 18px;
  }
}

.career {
  @extend %article;

  @include media-phablet-mn {
    border-right: 1px solid $color-grey-medium;
  }
}

.career__content_top {
  border-bottom: 1px solid $color-grey-medium;
  position: relative;
  padding-bottom: 2vh;

  .section__title {
    SPAN {
      @include title_3;
      display: block;
    }
  }
}

.career__content {

  .tag {
    margin: 0;
    padding: 6vh 0;
  }
}

.career__content_blue {
  background-color: $color-blue;
  color: #fff;
  margin-top: 10vh;
  position: relative;

  &:before {
    @include bg-blue;
    left: -100vw;
  }

  .section__subtitle {
    @include title_2;
    @include reset;
  }

  @include media-netbook-mx {
    padding: 4vh var(--lg) 4.5vh 0;

    .section__subtitle-middle {
      margin-top: var(--lg);
    }
  }
  @include media-netbook-mn {
    display: flex;
    align-items: center;
    padding: 5vh 0;

    .section__subtitle-middle {
      margin: 0 6vw;
    }
  }
  @include media-desktop-mn {
    .section__subtitle-middle {
      margin: 0 6vw 0 10vw;
    }
  }
}

.tip {
  background-color: $color-orange;
  color: #fff;
  @include title_7;
  position: absolute;
  top: 0;

  @include media-tablet-v-mx {
    padding: 5px 10px;
  }
  @include media-phablet-mx {
    right: 0;
  }
  @include media-phablet-mn {
    right: 2.5vw;
  }
  @include media-tablet-v-mn {
    padding: 10px 19px;
  }
}

@import "section-form";